@media only screen and (max-width:754px) {
	.color-header, .mpisto-actions, footer.mpisto-footer {
		display:none!important;
	}
	
	
	.mobile-header {
		display:flex;
	}
	
	footer.footer {
		display:block;
		overflow:hidden;
	}
	
	.mpisto-gnav.active-search .small-hide, .mpisto-gnav .notifications-dropdown {
		display:none!important;
	}
	
.mpisto-global-navigation .link {
	padding:0 7.5px;
}

.mpisto-gnav.active-search .wds-dropdown .link {
				font-size:0!important;
				padding:0!important;
				max-width:0!important;
				margin-left:0!Important;
				margin-right:0!Important;
				overflow:hidden;			
}

		.mpisto-gnav.active-search .wds-dropdown .link * {
				font-size:0!important;
				padding:0!important;
				width:0!important;	
				height:0!important;
				min-width:0;
				min-height:0;			
		}

		.mpisto-bottom-pane {
				flex-direction:column;
				align-items:stretch!important;
		}


}

@media only screen and (max-width:959px) {
	.mpisto-content::after {
		opacity:1!important;
	}
	
	.mpisto-content {
		margin:0!important;
	}

.mpisto-bottom-pane {
display:flex;
padding:10px 0 0;
width:100%;
flex-wrap:wrap;
align-items:flex-start;
align-content:space-between;
justify-content:center;
}

.mpisto-module {
flex:1;
}

.mpisto-article-content {
	flex-direction:column;
	display:block;
}

.mpisto-module:first-child {
	margin-left:0;
}

.mpisto-module:last-child {
	margin-right:0;
}


.mpisto-page-header .buttons {
	padding-left:28px;
	padding-right:28px;
}

	
	:root {
	scrollbar-width:thin;
	scrollbar-color:#0000ff #fff;
	scrollbar-color:rgb(var(--community-header-bg)) var(--content-bg);
	}
	body {
		background-image:none!important;
		background-color:#ffffff!important;
		background-color:var(--content-bg)!important;
	}
	.container {
		width:100%!important;
		border:0!important;
		box-shadow:none!important;
		min-width:360px!important;
	}

	footer.footer, .mpisto-gnav {
		min-width:360px!important;
	}

	
	.mpisto-content .mpisto-wrapper {
		border:0!important;
	}

	.color-header .wordmark {
		display:none;
	}
	
	.top-gap {
		display:none;
	}
	
	.mpisto-header-container {
		margin-left:0!important;
		margin-right:0!important;
		margin-top:0!important;
		margin-bottom:0;
	}
	
	.headroom--top .mpisto-gnav {
		box-shadow:none!important;
	}
	
	.main-footer {
		border:0!important;
	}

	footer.mpisto-footer {
		margin:0!important;
		box-shadow:none!important;
	}
	
	footer.mpisto-footer .mpisto-wrapper {
		padding:0 18px;
		width:auto;
	}
	
	.mpisto-content .mpisto-page-header {
		border-bottom:0;
		margin-left:-18px;
		margin-right:-18px;
	}

}


@media only screen and (max-width:1099px) {
.container {
width:926px;
}


}

@media only screen and (min-width:1400px) and (max-width:1599px) {
	.container {
		width:1146px;
	}

.mpisto-page-header h1 {
	font-size:40px;
}

.mpisto-article h1 {
	font-size:36px;
}

.mpisto-article h2 {
	font-size:26px;
}

.mpisto-article h3 {
	font-size:21px;
}

.mpisto-article h4 {
	font-size:18px;
}

.mpisto-article h5 {
	font-size:16px;
}

.mpisto-article h6 {
	font-size:12px;
}

}

@media only screen and (min-width:1600px) {
	.container {
		width:1346px;
	}

	.mpisto-article {
		font-size:17px;
	}

.mpisto-page-header h1 {
	font-size:50px;
}

.mpisto-article h1 {
	font-size:46px;
}

.mpisto-article h2 {
	font-size:32px;
}

.mpisto-article h3 {
	font-size:27px;
}

.mpisto-article h4 {
	font-size:22px;
}

.mpisto-article h5 {
	font-size:20px;
}

.mpisto-article h6 {
	font-size:16px;
}

}
