@media only screen and (min-width:1020px) {
	main[wide="true"] .container {
		width:calc(100% - 40px);
	}
}


/* Top Global Nav for Small Devices */
@media only screen and (max-width:511px) {
	.mpisto-option-way label.customization-label {
		display:block;
		font-size:18px;
	}
	container > main {
		flex-direction:column;
		padding-bottom:calc(var(--global-nav-size) / 2);
	}
	
	.mpisto-personal-links {
		top:auto;
		bottom:0;
		position:fixed;
	}

		.mpisto-global-sidebar .flags-menu {
			display:none!important;
		}
		.mpisto-global-sidebar {
			width:100%;
			height:calc(var(--global-nav-size) / 2);
			flex-direction:row;
		}
		.mpisto-global-sidebar .link {
			width:calc(0.33 * var(--global-nav-size));
			display:inline-flex;
		}
		.mpisto-global-sidebar .link .cpe-icon {
			width:20px;
			height:20px;
			
		}

		.mpisto-global-sidebar .link .cpe-icon.cpe-icon-small {
			width:16px;
			height:16px;
		}


		.mpisto-global-sidebar .link .cpe-icon.cpe-icon-tiny {
			width:11px;
			height:11px;
		}

		.mpisto-global-sidebar .link .mpisto-avatar {
			width:20px;
			height:20px;
			min-width:20px;
			min-height:20px;
			border-width:1.2px;
		}
/* Dropdown */
	.mpisto-global-sidebar .cpe-dropdown[cpe-orient*="land"] .cpe-dropdown__content {
		bottom: unset;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 3px;
	}

	.mpisto-global-sidebar .cpe-dropdown.cpe-is-active .cpe-dropdown__content{
		animation: contribution-dropdown 0.3s;
	}
	.mpisto-global-sidebar .cpe-dropdown[cpe-orient*="land"]:after {
		display: block !important;
		bottom: -1px;
		content: "";
		left: 50%;
		pointer-events: none;
		position: absolute;
		z-index: 2;
		transform:none!important;
		margin-left: -8px;
		top: unset;
		transform: unset;
	}
	.mpisto-global-sidebar__bottom .cpe-dropdown.cpe-is-right-aligned .cpe-dropdown__content {
		position: absolute;
	}
	/* End */
	.mpisto-global-sidebar .upper-links {
		flex-direction:row;
	}
	
	.mpisto-global-sidebar .bottom-links {
		flex-direction:row-reverse;
	}
	
	.mpisto-global-sidebar .link[cpe-tooltip]:after,
	.mpisto-global-sidebar .link[cpe-tooltip]:before {
		display:none!important
	}
	.mpisto-global-sidebar .notifications-menu .cpe-dropdown__content,
	.mpisto-global-sidebar .search .cpe-dropdown__content {
		transform:translateX(-246px)!important;
	}
	.mpisto-global-sidebar .create-wiki .cpe-dropdown__content {
		transform:translateX(-140px)!important;
	}
	/* End */
	/* Unset */
	.lightbox-container  {
		--global-nav-size:0px!important;
	}
	.mpisto-editors-content,
	.mpisto-options-content {
		--extra-height:var(--global-nav-size);
	}
}




@media only screen and (max-width:759px) {
	container > main {
		--sticky-nav-size:0px!important;
	}

	container > main .mpisto-sticky-header-container {
		display:none!important;
	}

	.color-header, .mpisto-actions, footer.mpisto-footer {
		display:none!important;
	}
	
	
	.mobile-header {
		display:flex;
	}
	
	footer.footer {
		display:block;
		overflow:hidden;
	}
	
	.mpisto-gnav.active-search .small-hide, .mpisto-gnav .notifications-dropdown {
		display:none!important;
	}
	
.mpisto-global-navigation .link {
	padding:0 7.5px;
}

.mpisto-gnav.active-search .cpe-dropdown .link {
				font-size:0!important;
				padding:0!important;
				max-width:0!important;
				margin-left:0!Important;
				margin-right:0!Important;
				overflow:hidden;			
}

		.mpisto-gnav.active-search .cpe-dropdown .link * {
				font-size:0!important;
				padding:0!important;
				width:0!important;	
				height:0!important;
				min-width:0;
				min-height:0;			
		}

		.mpisto-right-pane {
				flex-direction:column;
				align-items:stretch!important;
		}


}

@media only screen and (max-width:1019px) {
	.mpisto-personal-links .link.toggle-size {
		display:none!important;
	}
	.mpisto-content::after {
		opacity:1!important;
	}
	
	.mpisto-content {
		margin:0!important;
	}
.mpisto-wrapper .mpisto-article-wrapper {
	flex-direction:column;
}

.mpisto-right-pane {
display:flex;
width:auto;
flex-wrap:wrap;
align-items:flex-start;
align-content:space-between;
justify-content:center;
}

.mpisto-module {
flex:1;
}

.mpisto-left-pane {
	width:100%;
}


.mpisto-page-header .buttons {
	padding-left:28px;
	padding-right:28px;
}

	
	:root {
	scrollbar-width:thin;
	scrollbar-color:#0000ff #fff;
	scrollbar-color:rvar(--community-header-bg) var(--content-bg);
	overflow-x:hidden!important;
	}
	body {
		background-image:none!important;
		background-color:#ffffff!important;
		background-color:var(--content-bg)!important;
	}
	.container {
		width:100%!important;
		border:0!important;
		box-shadow:none!important;
		min-width:360px!important;
	}

	footer.footer, .mpisto-gnav {
		min-width:360px!important;
	}

	
	.mpisto-content .mpisto-wrapper {
		border:0!important;
	}

	.color-header .wordmark {
		display:none;
	}
	
	.top-gap {
		display:none;
	}
	
	.mpisto-header-container {
		margin-left:0!important;
		margin-right:0!important;
		margin-top:0!important;
		margin-bottom:0;
	}
	
	.headroom--top .mpisto-gnav {
		box-shadow:none!important;
	}
	
	.main-footer {
		border:0!important;
	}

	footer.mpisto-footer {
		margin:0!important;
		box-shadow:none!important;
	}
	
	footer.mpisto-footer .mpisto-wrapper {
		padding:0 18px;
		width:auto;
	}
	
	.mpisto-content .mpisto-page-header {
		border-bottom:0;
		margin-left:-18px;
		margin-right:-18px;
	}

}


@media only screen and (max-width:1279px) {
.container {
	width:calc(980px - var(--global-nav-size) - var(--scrollbar-width));
}


}

@media only screen and (min-width:1500px) {
	.container {
		width:calc(1440px - var(--global-nav-size) - var(--scrollbar-width)); /* Was 1146px */
	}

.mpisto-page-header h1 {
	font-size:40px;
}

.mpisto-article h1 {
	font-size:36px;
}

.mpisto-article h2 {
	font-size:26px;
}

.mpisto-article h3 {
	font-size:21px;
}

.mpisto-article h4 {
	font-size:18px;
}

.mpisto-article h5 {
	font-size:16px;
}

.mpisto-article h6 {
	font-size:12px;
}

}


@media only screen and (min-width:1500px) {
	.color-header .title {
		font-size:32px;
	}

	.mpisto-header-container .link {
		font-size:20px;
	}


	.color-header .counters {
		font-size:18px;
	}

}
