/* Headroom */
.headroom .mpisto-gnav {
	transition:transform 400ms linear;
	will-change: transform;
}

/*.headroom--top .mpisto-gnav:not(.active-search) {
	transform:translateY(100%);
}
*/
.headroom .mpisto-content .mpisto-actions .wds-floating-button-group {
	transition:top 400ms linear;
	will-change: top;
}

/*.headroom--bottom .mpisto-content .mpisto-actions .wds-floating-button-group, .headroom--unpinned .mpisto-content .mpisto-actions .wds-floating-button-group {
	top:0;
}
*/