/* Buttons */

body:not([visualtheme*="contrast"]) .highcontrastbutton.cpe-dropdown {
  display:none;
}

body:not([visualtheme*="contrast"]).clearhighcontrastbutton.cpe-button {
  display:none;
}

.mpisto-options-content .highcontrastmodes {
  display:none;
}


.mpisto-options-content .filtermodes {
  display:none;
}

.mpisto-options-content .reduced-motion {
	display:none;
}

@media (prefers-reduced-motion: reduce) {
.mpisto-options-content .reduced-motion {
	display:block;
}

.mpisto-options-content .prm-option {
	display:none!important;
}


.mpisto-options-content .filtermodes {
  display:none!important;
}

*,:before,:after {
	transition-property:color,background-color,border-color,column-rule-color,outline-color,fill,text-shadow,box-shadow,visibility,display, opacity!important;
	animation:none!important;
}

body {
	-webkit-filter:none!important;
	filter:none!important;
	backdrop-filter:none!important;
	-webkit-backdrop-filter:none!important;
}

.theme-portal .link.theme10, .theme-portal .link.theme11, .theme-portal .link.theme12, .theme-portal .link.theme13, .theme-portal .link.theme14, .theme-portal .link.theme15, .theme-portal .link.theme16 {
	display:none!important
}

.mpisto-option-pane {
top:0!important;
filter:none!important;
}
}


@media (prefers-reduced-transparency: reduce) {
.mpisto-gnav {
	--global-nav-opacity:1!important;
}

.lightbox-container:target {
	--lightbox-opacity:1!important;
}

.mpisto-content .mpisto-wrapper {
	--content-space-opacity:1!important;
}

.cpe-dropdown__content,
.cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content {
	--dropdown-opacity:1!important;
}



.mpisto-options-content .prt-option {
	display:none!important;
}



body *,body :before,body :after {
	-webkit-backdrop-filter:none!important;
	backdrop-filter:none!important;
	background-blend-mode:normal!important;
	mix-blend-mode:normal!important;
}


.mpisto-option-pane {
filter:none!important;
}

@media only screen and (max-width:959px) {
body:not([visualtheme*="contrast"]) .pane-on .mpisto-article-wrapper:after {
	opacity:0.86;
}
}

}


.prt .mpisto-gnav, [visualtheme*="contrast"] .mpisto-gnav {
	--global-nav-opacity:1!important;
}

/* Reduced Animations */

.prm .mpisto-options-content .reduced-motion {
	display:block;
}

.prm .mpisto-options-content .filtermodes {
  display:none!important;
}

.prm *,.prm :before,.prm :after, .prm {
	transition-property:color,background-color,border-color,column-rule-color,outline-color,fill,text-shadow,box-shadow,visibility,display, opacity!important;
	animation:none!important;
}

.prm {
	-webkit-filter:none!important;
	filter:none!important;
}

.prm .theme-portal .link.theme10, .prm .theme-portal .link.theme11, .prm .theme-portal .link.theme12, .prm .theme-portal .link.theme13, .prm .theme-portal .link.theme14, .prm .theme-portal .link.theme15, .prm .theme-portal .link.theme16 {
	display:none!important
}

.prm .mpisto-option-pane {
top:0!important;
filter:none!important;
}


/* Reduced Transparency */
.prt .lightbox-container:target {
	--lightbox-opacity:1!important;
}

.prt .mpisto-content .mpisto-wrapper {
	--content-space-opacity:1!important;
}

.prt .cpe-dropdown__content,
.prt .cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content {
	--dropdown-opacity:1!important;
}


.prt *,.prt :before,.prt :after {
	-webkit-backdrop-filter:none!important;
	backdrop-filter:none!important;
	background-blend-mode:normal!important;
	mix-blend-mode:normal!important;
}

.prt .mpisto-option-pane {
filter:none!important;
}

@media only screen and (max-width:959px) {
.prt:not([visualtheme*="contrast"]) .pane-on .mpisto-article-wrapper:after {
	opacity:0.86;
}
}



@supports (filter:saturate(0)) or (-webkit-filter:saturate(0)) {
.mpisto-options-content .filternotice {
  display:none;
}

.mpisto-options-content .filtermodes {
  display:block;
}
}



[visualtheme*="contrast"] .highcontrastbutton.cpe-dropdown{
  display:none;
}

.highcontrastbutton .cpe-button {
  vertical-align:baseline;
}

.mpisto-options-content .contrastnotice {
  display:none;
}

.mpisto-options-content .highcontrastmodes {
  display:block;
}
}
/* Remove the default High Contrast mode for Edge 15+ since we use our version of HighContrast, improved than ever */
* {
-ms-high-contrast-adjust:none;
}



/* CSS configuration for Brightness */
[visualtheme*="contrast"] *,[visualtheme*="contrast"] :before,[visualtheme*="contrast"] :after  {
	--emphasis-bg:var(--dropdown-bg)!important;
	--accent-bg:var(--dropdown-bg)!important;
	--emphasis-bg-rgb:var(--dropdown-bg-rgb)!important;
	--accent-bg-rgb:var(--dropdown-bg-rgb)!important;
  text-shadow:none!important;
  box-shadow:none!important;
  -webkit-filter:none!important;
  filter:none!important;
  backdrop-filter:none!important;
  -webkit-backdrop-filter:none!important;
	background-blend-mode:normal!important;
	mix-blend-mode:normal!important;
}

[visualtheme*="contrast"] .mpisto-content {
border-color:var(--content-border);
}


[visualtheme*="contrast"] .main-footer {
	background-color:var(--button-color);
	color:var(--button-color-text);
}

[visualtheme*="contrast"] .main-footer hr {
	border-color:currentColor; /* Avoid color population from buttons, use currentColor instead */
}

[class*="filter"] *, [class*="filter"] :before, [class*="filter"] :after  {
  backdrop-filter:none!important;
  -webkit-backdrop-filter:none!important;
}


[visualtheme*="contrast"] .mpisto-header-container .link {
	transition-delay:0ms, 10ms, 10ms;
	transition-duration:400ms, 10ms, 10ms;
}

[visualtheme*="contrast"] .color-header .link {
	background-clip:padding-box;
	background-color:var(--dropdown-bg);
	color:var(--content-color);
	transition-property:background-color, color, border-color;
}

[visualtheme*="contrast"] .mpisto-header-container .link:hover, [visualtheme*="contrast"] .mpisto-header-container .cpe-dropdown:hover .link {
	-webkit-animation:none;
	animation:none;
	color:var(--button-color-text);
	border-color:currentColor;
	background-color:var(--button-color);
}

[visualtheme*="contrast"] .mpisto-gnav {
	box-shadow:inset 0 -1px var(--content-border)!important;
}


[visualtheme*="contrast"] .cpe-dropdown.cpe-has-shadow .cpe-dropdown__content {
box-shadow:0 2px 0 4px rgba(0,0,0,.4), 0 2px 0 4px rgba(255,255,255,0.4)!important;
}

[visualtheme*="contrast"] header.mpisto-navbar .cpe-dropdown__content, [visualtheme*="contrast"] header.mpisto-navbar .cpe-dropdown-level-2__content, [visualtheme*="contrast"] .cpe-dropdown.cpe-has-dark-shadow .cpe-dropdown__content {
box-shadow:0 4px 0 6px rgba(0,0,0,.4), 0 4px 0 6px rgba(255,255,255,0.4)!important;
}

[visualtheme*="contrast"] .mpisto-spotlight-footer nav item ul num {
	-webkit-text-stroke:0px;
}

[visualtheme*="contrast"] .cpe-dropdown__content,
[visualtheme*="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked .cpe-dropdown-level-2 .cpe-dropdown-level-2__content {
	--dropdown-opacity:1!important;
}

[visualtheme*="contrast"] .cpe-banner-notification {
	background-color:var(--dropdown-bg);
}


[visualtheme*="contrast"] 	.mpisto-global-navigation .link .mpisto-input {
	background-image:linear-gradient(to bottom,rgba(50,50,50,0.15), rgba(50,50,50,0.15)), linear-gradient(to bottom, rgba(206,206,206,0.15), rgba(206,206,206,0.15));
	background-color:transparent;
	color:inherit;
}

[visualtheme*="contrast"] :not(.freepseudo):not(.gradient-overlay):not(.mpisto-wrapper):not(.cpe-toggle__label):not(.cpe-dropdown):not(.cpe-dropdown-level-2__content):not(.cpe-dropdown__content):not(.cpe-community-header):not(time):not(.cpe-list):not(.cpe-banner-notification):not(input):not(.mpisto-content):not(body):before,[visualtheme*="contrast"] :not(.freepseudo):not(.mpisto-wrapper):not(.cpe-toggle__label):not(.cpe-dropdown):not(.cpe-dropdown-level-2__content):not(.cpe-dropdown__content):not(.cpe-community-header):not(.cpe-list):not(.cpe-banner-notification):not(.mpisto-article-wrapper):not(.mpisto-header-container):not(.mpisto-gnav):not(input):not(body):not(em):after {
display:none!important;
}

	[visualtheme*="contrast"] .mpisto-global-navigation .link:active, [visualtheme*="contrast"] .mpisto-global-navigation .link:focus, [visualtheme*="contrast"] .mpisto-global-navigation .cpe-dropdown.cpe-is-active .link {
	background-color:var(--button-color);
	color:var(--button-color-text);
}

[visualtheme*="contrast"] .pane-on .mpisto-article-wrapper:after {
  background-color:var(--content-bg);
}

[visualtheme*="contrast"] .mpisto-content .mpisto-wrapper {
  --content-space-opacity:0.9!important;
}

[visualtheme*="contrast"] header.mpisto-footer-container, [visualtheme*="contrast"] .mpisto-option-pane {
  background-color:var(--emphasis-bg);
}



[visualtheme*="contrast"] header.mpisto-navbar {
  background-color:var(--content-color);
}

.main[visualtheme*="contrast"] .cpe-community-header {
background-color:rgb(var(--community-header-bg));
}

.main[visualtheme*="contrast"] .cpe-community-header::after {
    background-color:rgb(var(--community-header-bg));
}

.main[visualtheme*="contrast"] .cpe-community-header .cpe-community-header__sitename a, .main[visualtheme*="contrast"] .cpe-community-header .cpe-tabs__tab-label,  .main[visualtheme*="contrast"] .cpe-community-header .cpe-tabs__tab-label a, .main[visualtheme*="contrast"] .cpe-community-header .cpe-community-header__counter {
color:rgb(23,23,23);
color:rgb(var(--community-header-text));
}

.main[visualtheme*="contrast"] .cpe-community-header .cpe-community-header__sitename a:hover, .main[visualtheme*="contrast"] .cpe-community-header .cpe-tabs__tab:hover,  .main[visualtheme*="contrast"] .cpe-community-header .cpe-tabs__tab:hover .cpe-tabs__tab-label,  .main[visualtheme*="contrast"] .cpe-community-header .cpe-tabs__tab:hover .cpe-tabs__tab-label>a {
color:rgba(23,23,23,0.8);
color:rgba(var(--community-header-text), 0.8);
}


[visualtheme*="contrast"] .pane-on .mpisto-article-wrapper:after {
  opacity:1;
}

.FilterA {
-webkit-filter:saturate(1.01) grayscale(100%);
filter:saturate(1.01) grayscale(100%);
}

.FilterB {
-webkit-filter:saturate(1.01) invert(0.99) grayscale(100%);
filter:saturate(1.01) invert(0.99) grayscale(100%);
}

.FilterC {
-webkit-filter:invert(0.99) saturate(1.01);
filter:invert(0.99) saturate(1.01);
}

.FilterD {
-webkit-filter:invert(0.99) hue-rotate(180deg) saturate(1.01) ;
filter:invert(0.99) hue-rotate(180deg)saturate(1.01);
}

.FilterE {
-webkit-filter:brightness(1.05) saturate(1.06) contrast(1.11) hue-rotate(2deg);
filter:brightness(1.05) saturate(1.06) contrast(1.11) hue-rotate(2deg);
}

.FilterF {
-webkit-filter:hue-rotate(180deg) saturate(1.01);
filter:hue-rotate(180deg) saturate(1.01);
}

/* Edge and Safari fix */
@supports (position:-ms-page) or (position:-webkit-sticky) {


body {
	z-index:3;
}

body:after {
	z-index:1;
}
}

/* Header Buttons - Based on Win8-10 High Contrast titlebar button styling */
.main[visualtheme*="contrast"] .cpe-community-header .cpe-button.cpe-is-secondary, [visualtheme*="contrast"] .lightbox h1 .cpe-button.cpe-is-square {
  background-color:var(--content-bg);
  color:var(--content-color);
  border-color:transparent!important;
  background-clip:padding-box!important;
}

.main[visualtheme*="contrast"] .cpe-community-header .cpe-button.cpe-is-secondary:hover, [visualtheme*="contrast"] .lightbox h1 .cpe-button.cpe-is-square:hover {
  background-color:var(--button-color);
  color:var(--button-color-text);
  border-color:currentcolor!important;
}

.main[visualtheme*="contrast"] .cpe-community-header:before {
    background-image:none;
}


/*
[visualtheme*="contrast"] header.mpisto-navbar {
  border-top-color:var(--content-color);
}

[visualtheme*="contrast"] header.mpisto-navbar .link:hover, [visualtheme*="contrast"] header.mpisto-navbar .cpe-dropdown:hover .link {
  background-color:var(--button-color);
  color:var(--button-color-text);
  border-color:var(--button-color-text);
}
*/

.main[visualtheme*="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li.cpe-is-selected>a, .main[visualtheme*="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li:hover>a{
  background-color:var(--button-color);
  color:var(--button-color-text);
  outline:1px solid var(--button-color-text);
  outline-offset:-1px;
}


[visualtheme*="contrast"] .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child):not(.empty) {
  transition:background-color .2s ease 0.01s, color .2s;
}


[visualtheme*="contrast"] .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child):not(.empty):hover {
  background-color:var(--button-color);
}

[visualtheme*="contrast"]  .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child) div h3, [visualtheme*="contrast"]  .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child) div h6 {
  color:var(--content-color)!important;
  transition:color .2s;
}

[visualtheme*="contrast"]  .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child):hover div h3, [visualtheme*="contrast"]  .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child):hover div h6 {
  color:var(--button-color-text)!important;
}

/* Floating buttons */
[visualtheme*="contrast"] .cpe-floating-button {
	box-shadow:0 0 0 1.4px currentColor!important;
	transition-property:color,background-color,box-shadow;
}

[visualtheme*="contrast"] .cpe-floating-button:hover {
	background-color:var(--button-color)!important;
	color:var(--button-color-text)!important;
}


[visualtheme*="contrast"] stroke {
  color:var(--content-color)!important;
}

[visualtheme*="contrast"] pre, [visualtheme*="contrast"] code {
  background-color:var(--content-bg);
  color:var(--content-color);
  border-color:var(--content-border);
}

[visualtheme*="contrast"] mark {
color:var(--button-color-text);
background-color:var(--button-color);
}


[visualtheme*="contrast"] .mpisto-module h2, /*[visualtheme*="contrast"] .lightbox h1,*/ [visualtheme*="contrast"] .lightbox h2, /*[visualtheme*="contrast"] .lightbox footer,*/ [visualtheme*="contrast"] .mpisto-module .buttons {
  background-color:rgb(var(--community-header-bg));
  color:rgb(var(--community-header-text));
  z-index:initial;
  position:static;
}

/*[visualtheme*="contrast"] footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container th {
  background-color:var(--button-color);
  color:var(--button-color-text);
  z-index:initial;
  position:static;
}
*/

[visualtheme*="contrast"] .lightbox-container:target {
background-color:var(--content-bg);
}

/* Banner */
.main[visualtheme*="contrast"] .cpe-banner-notification__container{box-shadow:0 2px 0 2px rgba(0,0,0,.2), 0 2px 0 2px rgba(255,255,255,0.2)!important;}

/* Modules */
[visualtheme*="contrast"] .lightbox {
	border-color:rgb(var(--community-header-text));
	background-color:rgb(var(--community-header-bg));
}


[visualtheme*="contrast"] .lightbox .footer {
	border-color:var(--content-color);
}
[visualtheme*="contrast"] .mpisto-module {
box-shadow:0 0 0 3px var(--content-border)!important;
}

/* Checkboxes */
[visualtheme*="contrast"] input[type="checkbox"], [visualtheme*="contrast"] input[type="radio"]  {
	--checkbox-checked-bg:rgb(var(--link-color));
	--checkbox-checked-bg-hover:rgb(var(--link-color-dark));
	--checkbox-checked-shadow:var(--checkbox-checked-bg);
	--checkbox-checked-shadow-hover:var(--checkbox-checked-bg-hover);
	--checkbox-checked-text:var(--link-color-text);
}


[visualtheme*="contrast"] input[type="checkbox"], [visualtheme*="contrast"] input[type="radio"] {
	--checkbox-unchecked-shadow:var(--content-color);
  box-shadow:0 0 0 1px var(--checkbox-unchecked-shadow)!important;
}

[visualtheme*="contrast"] input[type="checkbox"]:hover, [visualtheme*="contrast"] input[type="radio"]:hover {
  box-shadow:0 0 0 1px var(--checkbox-active-bg)!important;
}

[visualtheme*="contrast"] input[type="checkbox"]:active, [visualtheme*="contrast"] input[type="radio"]:active {
  box-shadow:0 0 0 1px var(--checkbox-active-bg)!important;
}

[visualtheme*="contrast"] input[type="checkbox"]:checked, [visualtheme*="contrast"] input[type="radio"]:checked,
[visualtheme*="contrast"] input[type="checkbox"]:indeterminate, [visualtheme*="contrast"] input[type="radio"]:indeterminate {
  box-shadow:0 0 0 1px var(--checkbox-checked-shadow)!important;
}

[visualtheme*="contrast"] input[type="checkbox"]:checked:hover, [visualtheme*="contrast"] input[type="radio"]:checked:hover, 
[visualtheme*="contrast"] input[type="checkbox"]:indeterminate:hover, [visualtheme*="contrast"] input[type="radio"]:indeterminate:hover {
  box-shadow:0 0 0 1px var(--checkbox-checked-shadow-hover)!important;
}


[visualtheme*="contrast"] input[type="checkbox"]:checked:active, [visualtheme*="contrast"] input[type="radio"]:checked:active,
[visualtheme*="contrast"] input[type="checkbox"]:indeterminate:active, [visualtheme*="contrast"] input[type="radio"]:indeterminate:active {
  box-shadow:0 0 0 1px var(--checkbox-active-bg)!important;
}


[visualtheme*="contrast"] .page-1 .option-link.p1, [visualtheme*="contrast"] .page-2 .option-link.p2, [visualtheme*="contrast"] .page-3 .option-link.p3, [visualtheme*="contrast"] .page-4 .option-link.p4, [visualtheme*="contrast"] .page-5 .option-link.p5, [visualtheme*="contrast"] .page-6 .option-link.p6  {
  background-color:var(--button-color-text);
  border-color:var(--button-color);
  color:var(--button-color);
}

[visualtheme*="contrast"] .option-link, [visualtheme*="contrast"] .option-link span {
color:inherit;
}


[visualtheme*="contrast"] .mpisto-page-header-title {
/*	background-image:linear-gradient(to bottom, var(--button-color-blend-light) 0%, var(--button-color-blend-light) 50%,  var(--button-color-blend) 0%, var(--button-color-blend) 100%); */
	background-image:none;
}

[visualtheme*="contrast"] .mpisto-option-way > div .fieldset {
	border-color:currentColor;
}

[visualtheme*="contrast"] .mpisto-option-way h1 {
	background-color:var(--dropdown-bg);
}

[visualtheme*="contrast"] .mpisto-options-content {
	border:1px solid;
	border-top:0;
}


/* Buttons */
[visualtheme*="contrast"] .cpe-button {
    box-shadow:0 0 0 1.5px var(--button-color)!important;
}


[visualtheme*="contrast"] .cpe-button:hover {
    box-shadow:0 0 0 1.5px var(--button-color-dark)!important;
}

[visualtheme*="contrast"] .cpe-button:active,
[visualtheme*="contrast"] .cpe-button.cpe-is-active {
    box-shadow:0 0 0 1.5px var(--button-color-dark-super)!important;
}

[visualtheme*="contrast"] .cpe-button.cpe-is-secondary,
[visualtheme*="contrast"] .cpe-button.cpe-is-secondary:hover,
[visualtheme*="contrast"] .cpe-button.cpe-is-secondary:active,
[visualtheme*="contrast"] .cpe-button.cpe-is-secondary.cpe-is-active {
    box-shadow:0 0 0 1.5px currentColor!important;
}


[visualtheme*="contrast"] .cpe-button.cpe-is-text,
[visualtheme*="contrast"] .cpe-button.cpe-is-text:hover,
[visualtheme*="contrast"] .cpe-button.cpe-is-text:active,
[visualtheme*="contrast"] .cpe-button.cpe-is-text.cpe-is-active {
    box-shadow:0 0 0 1.5px transparent!important;
}

[visualtheme*="contrast"] .cpe-input,
[visualtheme*="contrast"] .cpe-input:hover,
[visualtheme*="contrast"] .cpe-input:focus {
    box-shadow:0 0 0 1.5px currentColor!important;
}


[visualtheme*="contrast"] .cpe-input:focus {
    box-shadow:0 0 0 1.5px var(--input-box-solid)!important;
}



/* Masthead */
[visualtheme*="contrast"] .mpisto-userpages-header .mpisto-profile-masthead hgroup, [visualtheme*="contrast"] .mpisto-userpages-header .mpisto-userpages-main{
	background-image:none
}

[visualtheme*="contrast"] .mpisto-userpages-header .mpisto-profile-masthead {
	box-shadow:0 0 0 1px var(--content-border)!important;
}

/* Lightbox button stylings. Based on Community Header button theming on non-contrast modes */
[visualtheme*="contrast"] .mpisto-module .buttons .cpe-button, /*[visualtheme*="contrast"] .lightbox h1 .cpe-button, */[visualtheme*="contrast"] .lightbox h2 .cpe-button, /*[visualtheme*="contrast"] .lightbox footer .cpe-button*/  {
background-color:rgb(var(--community-header-text));
color:rgb(var(--community-header-bg));
border-color:rgb(var(--community-header-text));
-webkit-background-clip:padding;
background-clip:padding-box;
}

/*[visualtheme*="contrast"] .lightbox h1 .cpe-button:hover,*/ [visualtheme*="contrast"] .lightbox h2 .cpe-button:hover, /*[visualtheme*="contrast"] .lightbox footer .cpe-button:hover,*/ [visualtheme*="contrast"] .mpisto-module .buttons .cpe-button:hover  {
background-color:rgba(var(--community-header-text), 0.8);
color:rgb(var(--community-header-bg));
border-color:rgba(var(--community-header-text), 0.8);
}


/*[visualtheme*="contrast"] .lightbox h1 .cpe-button.cpe-is-secondary,*/ [visualtheme*="contrast"] .lightbox h2 .cpe-button.cpe-is-secondary, /*[visualtheme*="contrast"] .lightbox footer .cpe-button.cpe-is-secondary,*/ [visualtheme*="contrast"] .mpisto-module .buttons .cpe-button.cpe-is-secondary  {
color:rgb(var(--community-header-text));
background-color:transparent;
border-color:rgb(var(--community-header-text));
}

/*[visualtheme*="contrast"] .lightbox h1 .cpe-button.cpe-is-secondary:hover,*/ [visualtheme*="contrast"] .lightbox h2 .cpe-button.cpe-is-secondary:hover, /*[visualtheme*="contrast"] .lightbox footer .cpe-button.cpe-is-secondary:hover,*/ [visualtheme*="contrast"] .mpisto-module .buttons .cpe-button.cpe-is-secondary:hover {
color:rgba(var(--community-header-text), 0.8);
background-color:transparent;
border-color:rgba(var(--community-header-text), 0.8);
}


/*[visualtheme*="contrast"] .lightbox h1 .cpe-button.cpe-is-text,*/ [visualtheme*="contrast"] .lightbox h2 .cpe-button.cpe-is-text, /*[visualtheme*="contrast"] .lightbox footer .cpe-button.cpe-is-text,*/ [visualtheme*="contrast"] .mpisto-module .buttons .cpe-button.cpe-is-text  {
color:rgb(var(--community-header-text));
background-color:transparent;
border:0;
}

/*[visualtheme*="contrast"] .lightbox h1 .cpe-button.cpe-is-text:hover,*/ /*[visualtheme*="contrast"] .lightbox h2 .cpe-button.cpe-is-text:hover,*/ [visualtheme*="contrast"] .lightbox footer .cpe-button.cpe-is-text:hover, [visualtheme*="contrast"] .mpisto-module .buttons .cpe-button.cpe-is-text:hover {
color:rgba(var(--community-header-text), 0.8);
background-color:transparent;
border:0;
}


/* Fix in Filters */
@supports (position:sticky) or (position:-webkit-sticky) {
[class*="filter"] header.mpisto-footer-container {
  position:-webkit-sticky;
  position:sticky;
}


[class*="filter"] [style*="visibility:"] * {
  display:none;
}

[class*="filter"] .mpisto-gnav {
  position:-webkit-sticky;
  position:sticky;
}


[class*="filter"] .top-gap {
  margin-top:20px;
}


}


/* Selection Styles per B19 */
[visualtheme*="contrast"] ::selection {
color:var(--button-color-text);
background-color:var(--button-color);
}

[visualtheme*="contrast"] ::-moz-selection {
color:var(--button-color-text);
background-color:var(--button-color);
}


/* Inverse Selection Styles per B19 */
@supports (position:-ms-page) or (-moz-appearance:none) {
[visualtheme*="contrast"] .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child):not(.empty):hover ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

[visualtheme*="contrast"] .notification.cpe-dropdown__content .cpe-list.cpe-has-lines-between.cpe-has-ellipsis > li:not(:last-child):not(.empty):hover ::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme*="contrast"] .cpe-community-header .cpe-button.cpe-is-secondary:hover ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme*="contrast"] .cpe-community-header .cpe-button.cpe-is-secondary:hover ::-mozselection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme*="contrast"] .cpe-button:not(.cpe-is-secondary) ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme*="contrast"] .cpe-button:not(.cpe-is-secondary) ::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme*="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li.cpe-is-selected>a ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme*="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li.cpe-is-selected>a ::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme*="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li:hover>a ::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme*="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li:hover>a ::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme*="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li.cpe-is-selected>a::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme*="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li.cpe-is-selected>a::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme*="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li:hover>a::selection {
background-color:var(--button-color-text);
color:var(--button-color);
}

.main[visualtheme*="contrast"] .cpe-dropdown__content .cpe-list.cpe-is-linked>li:hover>a::-moz-selection {
background-color:var(--button-color-text);
color:var(--button-color);
}
}

/* Forced Colors */
[visualcolors*="forced"]  {
--background-overlay:auto!important;
}

.theme-A[visualcolors*="forced"]  {
--background-image:url("")!important;
--background-color:#000000!important;
--link-color:#f20884!important;
--content-bg:#000000!important;
--content-border:#1fb714!important;
--content-color:#fbf305!important;
--button-color:#006412!important;
--community-header-bg:#0000d3!important;
}

.theme-B[visualcolors*="forced"]  {
--background-image:url("")!important;
--background-color:#000000!important;
--link-color:#f20884!important;
--content-bg:#000000!important;
--content-border:#c0c0c0!important;
--content-color:#1fb714!important;
--button-color:#0000d3!important;
--community-header-bg:#02abea!important;
}

.theme-C[visualcolors*="forced"]  {
--background-image:url("")!important;
--background-color:#000000!important;
--link-color:#fbf305!important;
--content-bg:#000000!important;
--content-border:#1fb714!important;
--content-color:#ffffff!important;
--button-color:#02abea!important;
--community-header-bg:#4700a5!important;
}


.theme-D[visualcolors*="forced"]  {
--background-image:url("")!important;
--background-color:#ffffff!important;
--link-color:#0000d3!important;
--content-bg:#ffffff!important;
--content-border:#562c05!important;
--content-color:#000000!important;
--button-color:#4700a5!important;
--community-header-bg:#000000!important;
}


/* Old Themes 
.theme-A[visualcolors*="forced"]  {
--background-image:url("")!important;
--background-color:#000000!important;
--link-color:#8080ff!important;
--content-bg:#000000!important;
--content-border:#00ff00!important;
--content-color:#ffff00!important;
--button-color:#008000!important;
--community-header-bg:#0000ff!important;
}

.theme-B[visualcolors*="forced"]  {
--background-image:url("")!important;
--background-color:#000000!important;
--link-color:#8080ff!important;
--content-bg:#000000!important;
--content-border:#c0c0c0!important;
--content-color:#00ff00!important;
--button-color:#0000FF!important;
--community-header-bg:#00ffff!important;
}

.theme-C[visualcolors*="forced"]  {
--background-image:url("")!important;
--background-color:#000000!important;
--link-color:#ffff00!important;
--content-bg:#000000!important;
--content-border:#3ff23f!important;
--content-color:#ffffff!important;
--button-color:#1AEBFF!important;
--community-header-bg:#37006e!important;
}


.theme-D[visualcolors*="forced"]  {
--background-image:url("")!important;
--background-color:#ffffff!important;
--link-color:#00009f!important;
--content-bg:#ffffff!important;
--content-border:#600000!important;
--content-color:#000000!important;
--button-color:#37006E!important;
--community-header-bg:#000000!important;
}
*/