/* Mpisto Font Family
** Note: To preserve compatibility, the system version has the year of the font released. However, on the web, it is just simply called Mpisto
** Note for Serif: It is called Mpisto Serif and it is almost unrelated to the Regular Mpisto font in some Glyphs, and lacks Light and Regular(Medium) weights as well as the condensed face
*/

@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-MediumCondensed.ttf') format('truetype');
	font-weight:500;
	font-stretch: condensed
}

/*@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-SemiCondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: semi-condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-SemiexpandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: semi-expanded
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-CondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-expandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: expandeed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-ExtraCondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: extra-condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-ExtraExpandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: extra-expanded
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-UltraCondensedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: ultra-condensed
}

@font-face {
    font-family:  Mpisto;
    src:url('Mpisto2019-UltraExpandedMedium.ttf') format('truetype');
	font-weight:500;
	font-stretch: ultra-expanded
}


*/
	   
@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Regular.ttf') format('truetype');
}

@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Light.ttf') format('truetype');
	font-weight:300;
}

@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Medium.ttf') format('truetype');
	font-weight:500;
}

@font-face {
    font-family:  Mpisto;
    src:url('MpistoU2019-Bold.ttf') format('truetype');
	font-weight:700;
}

@font-face {
    font-family:  Mpisto Serif;
    src:url('MpistoSerif-Regular.ttf') format('truetype');
}


@font-face {
    font-family:  Mpisto Serif;
    src:url('MpistoSerif-Bold.ttf') format('truetype');
	font-weight:700;
}



/* Source Pro Family */
@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans T.ttf') format('truetype');
	font-weight:100;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans EL.ttf') format('truetype');
	font-weight:200;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans L.ttf') format('truetype');
	font-weight:300;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans.ttf') format('truetype');
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans M.ttf') format('truetype');
	font-weight:500;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans SB.ttf') format('truetype');
	font-weight:600;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans B.ttf') format('truetype');
	font-weight:700;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans EB.ttf') format('truetype');
	font-weight:800;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans H.ttf') format('truetype');
	font-weight:900;
}

@font-face {
    font-family:  Source Pro Sans;
    src:url('Source Pro Sans B.ttf') format('truetype');
	font-weight:900;
}


@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif T.ttf') format('truetype');
	font-weight:100;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif EL.ttf') format('truetype');
	font-weight:200;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif L.ttf') format('truetype');
	font-weight:300;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif.ttf') format('truetype');
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif M.ttf') format('truetype');
	font-weight:500;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif SB.ttf') format('truetype');
	font-weight:600;
}


@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif B.ttf') format('truetype');
	font-weight:700;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif EB.ttf') format('truetype');
	font-weight:800;
}

@font-face {
    font-family:  Source Pro Serif;
    src:url('Source Pro Serif H.ttf') format('truetype');
	font-weight:900;
}

/* Theme */
:root {
--background-image:url("headbg.jpg");
--background-color:#aa00aa;
--link-color:221,154,255;
--link-color-dark:191,115,230;
--link-color-text:black;
--content-bg:#1aef28;
--dropdown-bg:#14791A;
--emphasis-bg:#76C78E;
--content-border:#b0a1ee;
--content-border-dark:#8C7AD5;
--content-color:#002200;
--button-color:#18C5BB;
--button-color-dark:#03ACA2;
--button-color-text:black;
--community-header-bg:170,153,0;
--community-header-text:248,248,248;
}

.theme-B {
--background-image:url("headbg4.jpg");
--background-color:#e95500;
--link-color:148,24,197;
--link-color-dark:173,49,223;
--link-color-text:white;
--content-bg:#fdfeff;
--dropdown-bg:#FFFFFF;
--emphasis-bg:#CB91E4;
--content-border:#eee;
--content-border-dark:#D5D5D5;
--content-color:#1a2a3a;
--button-color:#FF7E09;
--button-color-dark:#E66D00;
--button-color-text:black;
--community-header-bg:255,126,9;
--community-header-text:23,23,23;
}

.theme-C {
--background-image:url("");
--background-color:#f6f6f6;
--link-color:255,106,100;
--link-color-dark:230,73,67;
--link-color-text:black;
--content-bg:#f6f6f6;
--dropdown-bg:#FFFFFF;
--emphasis-bg:#FBB4B1;
--content-border:#00d6d6;
--content-border-dark:#00BDBD;
--content-color:#002a32;
--button-color:#00D6D6;
--button-color-dark:#00BDBD;
--button-color-text:black;
--community-header-bg:19,40,44;
--community-header-text:248,248,248;
}

.theme-D {
--background-image:url("http://a-help.referata.com/w/images/Besto-BACK.jpg");
--background-color:#012e55;
--link-color:206,169,58;
--link-color-dark:181,143,32;
--link-color-text:black;
--content-bg:#f6f7ff;
--dropdown-bg:#FFFFFF;
--emphasis-bg:#E3D2A2;
--content-border:#bbccbb;
--content-border-dark:#92B392;
--content-color:#1a1a3a;
--button-color:#1F9502;
--button-color-dark:#32AE13;
--button-color-text:white;
--community-header-bg:169,206,58;
--community-header-text:23,23,23;
}


:root {
	scrollbar-color:#18bbc5 #f6f6f6;
	scrollbar-color:var(--button-color) var(--background-color);
}

/* Main CSS */
body { 
margin:0;
font-family:Mpisto, "Source Pro Sans", Source Sans Pro, sans-serif; /* Noto Sans */
color:#002a32;
color:var(--content-color);
background-repeat:no-repeat;
background-attachment:local;
background-attachment:fixed;
background-position:top center;
overscroll-behavior:none;
-webkit-font-smoothing:antialised;
-moz-osx-font-smoothing:grayscale;
touch-action:manipulation;
	background-color:#f6f6f6;
	background-color:var(--background-color);
	background-image:var(--background-image);
(M)touch-action:auto; /* mInerva 11.5- can make unscrollable page with mouse and keyboard */
position:relative;
-qq-image-flip:noflip; /* Avoid flipping images by some custom CSSes */
  image-rendering:initial;                  /* CSS4 Proposed  */
  -ms-interpolation-mode:bicubic;           /* IE8+           */
  -qq-image-blurring:tick;                  /* 4x4 Web 1-2    */
text-shadow:0 0 1px rgba(255,0,0,0.2), 0 0 1px rgba(0,255,0,0.2), 0 0 1px rgba(0,0,255,0.2), 0 0 1px rgba(255,255,0,0.2), 0 0 1px rgba(255,0,255,0.2), 0 0 1px rgba(0,255,255,0.2), 0 0 1px rgba(0,0,0,0.2), 0 0 1px rgba(255,255,255,0.2); /* Partially Embolding */
}

body > main {
	width:100%;
	margin:auto;
}


*,:before,:after {
box-sizing:border-box;
box-sizing:border-box;
outline:0;
resize:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
  -qq-image-blurring:cross;                  /* 4x4 Web 1-2    */
border-radius:0; /* Remove initial border-radius set by some agents such as FF for Android in input fields */
-qq-invert-style:classic; /* Prevent extra 180deg hue-rotation on inverts on mInerva */
scrollbar-color:inherit;
}

button, input {
	font-family:inherit;
	text-transform:none; /* Removes inheritance of text-transform property in Edge and Firefox */
}


.mpisto-input {
font-family:inherit;
background-color:transparent;
padding:7px 18px;
font-size:18px;
color:#002a32;
color:var(--content-color);
border:solid transparent 1px;
transition:border 170ms, box-shadow 170ms;
cursor:text;
border-radius:1000px;
-webkit-appearance:none;
opacity:0.9;
background-image:linear-gradient(to bottom,rgba(50,50,50,0.15), rgba(50,50,50,0.15)), linear-gradient(to bottom, rgba(206,206,206,0.15), rgba(206,206,206,0.15));
background-clip:padding-box;
box-sizing:content-box;
display:inline-flex;
align-items:center;
min-height:18px;
text-shadow:none; /* Disable Embolding caused by the update */
letter-spacing:0.05px;
}

.mpisto-input:hover {
opacity:1;
}

.mpisto-input:focus {
	opacity:1;
border-color:#18bbc5;
border-color:var(--button-color);
box-shadow:0 0 4px #cccddd;
box-shadow:0 0 4px var(--content-border);
}

.container {
	width:1066px;
	margin-left:auto;
	margin-right:auto;
}

/* Avatars */
.mpisto-avatar {
width:28px;
min-width:28px;
height:28px;
border:1.75px solid currentcolor;
background-blend-mode:soft-light;
-webkit-box-decoration-break:clone;
box-decoration-break:clone;
-webkit-border-radius:20%;
border-radius:20%;
opacity:0.99;
-qq-image-flip:noflip; /* Avoid flipping images by some custom CSSes */
  image-rendering:initial;                  /* CSS4 Proposed  */
  -ms-interpolation-mode:bicubic;           /* IE8+           */
  -qq-image-blurring:tick;                  /* 4x4 Web 1-2    */
}

.mpisto-avatar-group {
position:relative;
margin:8px 20px 8px 20px;
}

.mpisto-avatar-group > .mpisto-avatar {
  box-sizing:content-box;
  z-index:auto;
  position:relative;
  background-blend-mode:color-b;
}

.mpisto-avatar-group > .mpisto-avatar:not(:first-child):not(:only-child) {
  margin-left:-14px;
}

.wds-avatar{
height:28px;
min-width:28px;
width:28px;
border:2px solid currentColor;
border-radius:50%;
-qq-imaage-flip:noflip; /* Avoid flipping images by some custom CSSes */
  image-rendering:initial;                  /* CSS4 Proposed  */
  -ms-interpolation-mode:bicubic;           /* IE8+           */
  -qq-image-blurring:tick;                  /* 4x4 Web 1-2    */
}
.wds-avatar-stack{
-ms-flex-align:center;
align-items:center;
display:-ms-flexbox;
display:flex;
margin:8px 18px 6px 40px
}

.wds-avatar-stack__avatar{
color:#ccc;
  image-rendering:initial;                  /* CSS4 Proposed  */
  -ms-interpolation-mode:bicubic;           /* IE8+           */
  -qq-image-blurring:tick;                  /* 4x4 Web 1-2    */
}

.wds-avatar-stack .wds-avatar-stack__avatar:nth-child(1){
position:relative;
-ms-transform:translate(0);
transform:translate(0);
z-index:4
}
.wds-avatar-stack .wds-avatar-stack__avatar:nth-child(2){
position:relative;
-ms-transform:translate(-10px);
transform:translate(-10px);
z-index:3
}

.wds-avatar-stack .wds-avatar-stack__avatar:nth-child(3){
position:relative;
-ms-transform:translate(-20px);
transform:translate(-20px);
z-index:2
}

.wds-avatar-stack .wds-avatar-stack__avatar:nth-child(4){
position:relative;
-ms-transform:translate(-30px);
transform:translate(-30px);
z-index:1
}

.wds-avatar-stack .wds-avatar-stack__avatar:nth-child(5){
position:relative;
-ms-transform:translate(-40px);
transform:translate(-40px);
z-index:0
}

.wds-avatar-stack__overflow{
background-color:#fff;
background-color:var(--content-bg);
border:0;
color:#333;
font-size:12px;
padding-left:6px;
-ms-transform:translate(-40px);
transform:translate(-40px);
width:auto;
}

/*.main .wds-avatar-stack__avatar{
color:var(--content-border);
}
*/
.main .wds-avatar-stack__overflow{
background-color:transparent;
color:#002a32;
color:var(--content-color);
}


[class*="avatar"] {
box-sizing:content-box;
}


/* Buttons */
.wds-button {
background-color:#00b7e0;
border-color:#00b7e0;
color:#fff;
-ms-flex-align:center;
align-items:center;
border-style:solid;
border-width:1px;
box-sizing:content-box;
cursor:default;
display:-ms-inline-flexbox;
display:inline-flex;
font-size:12px;
font-weight:600;
-ms-flex-pack:center;
justify-content:center;
letter-spacing:.15px;
line-height:16px;
margin:0;
min-height:18px;
outline:0;
padding:7px 18px;
text-decoration:none;
text-transform:uppercase;
transition-duration:.3s;
transition-property:background-color,border-color,color;
vertical-align:top;
-webkit-appearance:none;
border-radius:4px;
background-image:none; /* Supress Gradient set by buttons */
text-shadow:none; /* Disable Embolding caused by the update */
}

.wds-button.wds-is-active,.wds-button:active,.wds-button:focus:not(:disabled),.wds-button:hover:not(:disabled){
background-color:#47ddff;
border-color:#47ddff;
text-decoration:none;
background-image:none; /* Supress Gradient set by buttons */
}

.wds-button.wds-is-secondary{
background-color:transparent;
border-color:#00b7e0;
color:#00b7e0
}
.wds-button.wds-is-secondary.wds-is-active,.wds-button.wds-is-secondary:active,.wds-button.wds-is-secondary:focus:not(:disabled),.wds-button.wds-is-secondary:hover:not(:disabled){
background-color:transparent;
border-color:#47ddff;
color:#47ddff;
}
.wds-button.wds-is-text{
background-color:transparent;
color:#00b7e0;
border:0
}
.wds-button.wds-is-text.wds-is-active,.wds-button.wds-is-text:active,.wds-button.wds-is-text:focus:not(:disabled),.wds-button.wds-is-text:hover:not(:disabled){
background-color:transparent;
color:#47ddff}

a.wds-button,button.wds-button{
cursor:pointer;
}
.wds-button:disabled{
cursor:default;

opacity:.5;
pointer-events:none}

/*
.wds-button.wds-is-squished{
font-size:10px;
padding:7px 12px;
}

.wds-button.wds-is-squished .wds-dropdown__toggle {
height:13px
}


.wds-button.wds-is-stretched{
padding:28px 18px 27px
}
*/

.wds-button.wds-is-full-width{
display:-ms-flexbox;
display:flex
}

.wds-button.wds-is-square{
height:36px;
min-width:36px;
width:36px;
-ms-flex-align:center;
align-items:center;
display:-ms-inline-flexbox;
display:inline-flex;
-ms-flex-pack:center;
justify-content:center;
padding:0
}

.wds-button .wds-icon {
-ms-flex-item-align:center;
-ms-grid-row-align:center;
align-self:center;
pointer-events:none}

.wds-button .wds-icon:first-child:not(:only-child){
margin-right:6px;
}

.wds-button .wds-icon:not(:first-child):not(:last-child):not(:only-child) {
margin-right:6px;
margin-left:6px;
}

.wds-button .wds-icon:last-child:not(:only-child) {
margin-left:6px;
}


.wds-button .wds-list{
color:#1a1a1a;
font-weight:400;
letter-spacing:normal;
text-transform:none;
text-align:left
}

.wds-button .wds-dropdown__content{
top:calc(100% + 1px)
}

.wds-button-group{
-ms-flex-align:stretch;
align-items:stretch;
display:-ms-inline-flexbox;
display:inline-flex;
-ms-flex-pack:start;
justify-content:flex-start
}

.wds-button-group>.wds-button{
height:auto;
margin-left:auto;
margin-right:-1px;
padding:7px 12px;
}



.wds-button-group>.wds-button:hover{
z-index:1
}

/*.wds-button-group>.wds-button:not(.wds-is-secondary):not(:last-child),.wds-button-group>.wds-dropdown:not(:last-child) .wds-button{
border-right-color:#fff;
border-right-width:1px;
border-right-style:solid;
}
.wds-button-group>.wds-button:not(.wds-is-secondary):not(:first-child),.wds-button-group>.wds-dropdown:not(:first-child) .wds-button{
border-left-color:#fff;
border-left-width:1px;
border-left-style:solid;
}
*/
.wds-button-group>.wds-button:not(.wds-is-secondary):not(:hover):not(:last-child),.wds-button-group>.wds-dropdown:not(:last-child) .wds-button:not(.wds-is-secondary):not(:hover) {
border-right-color:var(--content-bg);
border-right-width:1px;
border-right-style:solid
}
.wds-button-group>.wds-button:not(.wds-is-secondary):not(:hover):not(:first-child),.wds-button-group>.wds-dropdown:not(:first-child) .wds-button:not(.wds-is-secondary):not(:hover) {
border-left-color:var(--content-bg);
border-left-width:1px;
border-left-style:solid
}


.main .wds-button {
background-color:#18bbc5;
background-color:var(--button-color);
border-color:#18bbc5;
border-color:var(--button-color);
color:black;
color:var(--button-color-text);
}

.main .wds-button:hover, .main .wds-button:active, .main .wds-button:focus, .main .wds-button.wds-is-active {
background-color:#03A2AC;
background-color:var(--button-color-dark);
border-color:#03A2AC;
border-color:var(--button-color-dark);
}

.main .wds-button.wds-is-secondary {
color:#18bbc5;
color:var(--button-color);
border-color:#18bbc5;
border-color:var(--button-color);
background:none;
}

.main .wds-button.wds-is-secondary:hover, .main .wds-button.wds-is-secondary:active, .main .main .wds-button.wds-is-secondary:focus, .main .wds-button.wds-is-secondary.wds-is-active {
color:#03A2AC;
color:var(--button-color-dark);
border-color:#03A2AC;
border-color:var(--button-color-dark);
background:none;
}

.main .wds-button.wds-is-text {
color:#18bbc5;
color:var(--button-color);
border:0;
background:none;
}

.main .wds-button  .wds-list {
color:#000;
color:var(--content-color);
}

.main .wds-button.wds-is-text:hover, .main .wds-button.wds-is-text:active, .main .main .wds-button.wds-is-text:focus, .main .wds-button.wds-is-text.wds-is-active {
color:#03A2AC;
color:var(--button-color-dark);
border:0;
background:none;
}

.main .wds-button.wds-is-alternate {
background-color:#18bbc5;
background-color:rgb(var(--link-color));
border-color:#18bbc5;
border-color:rgb(var(--link-color));
color:black;
color:var(--link-color-text);
}

.main .wds-button.wds-is-alternate:hover, .main .wds-button.wds-is-alternate:active, .main .wds-button.wds-is-alternate:focus, .main .wds-button.wds-is-alternate.wds-is-active {
background-color:#03A2AC;
background-color:rgb(var(--link-color-dark));
border-color:#03A2AC;
border-color:rgb(var(--link-color-dark));
}

.main .wds-button.wds-is-alternate.wds-is-secondary {
color:#18bbc5;
color:rgb(var(--link-color));
border-color:#18bbc5;
border-color:rgb(var(--link-color));
background:none;
}

.main .wds-button.wds-is-alternate.wds-is-secondary:hover, .main .wds-button.wds-is-alternate.wds-is-secondary:active, .main .main .wds-button.wds-is-alternate.wds-is-secondary:focus, .main .wds-button.wds-is-alternate.wds-is-secondary.wds-is-active {
color:#03A2AC;
color:rgb(var(--link-color-dark));
border-color:#03A2AC;
border-color:rgb(var(--link-color-dark));
background:none;
}

.main .wds-button.wds-is-alternate.wds-is-text {
color:#18bbc5;
color:rgb(var(--link-color));
border:0;
background:none;
}


.main .wds-button.wds-is-alternate.wds-is-text:hover, .main .wds-button.wds-is-alternate.wds-is-text:active, .main .main .wds-button.wds-is-alternate.wds-is-text:focus, .main .wds-button.wds-is-alternate.wds-is-text.wds-is-active {
color:#03A2AC;
color:rgb(var(--link-color-dark));
border:0;
background:none;
}

.wds-button-group>.wds-button:not(:first-child):not(:last-child),.wds-button-group>.wds-dropdown:not(:first-child):not(:last-child) .wds-button{
  border-radius:0;
}

.wds-button-group>.wds-button:not(:last-child),.wds-button-group>.wds-dropdown:not(:last-child) .wds-button{
border-bottom-right-radius:0;
border-top-right-radius:0;
}
.wds-button-group>.wds-button:not(:first-child),.wds-button-group>.wds-dropdown:not(:first-child) .wds-button{
border-bottom-left-radius:0;
border-top-left-radius:0;
}


/* Floating Buttons */
.wds-floating-button {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 0 10px 0 rgba(26, 26, 26, 0.2);
  display: flex;
  height: 36px;
  justify-content: center;
  margin: 0;
  outline: none;
  padding: 0;
  transition-duration: 0.2s;
  transition-property: box-shadow;
  width: 36px;
}
.wds-floating-button:not([disabled]),
.wds-floating-button:not(.wds-is-disabled) {
  cursor:pointer;
}
.wds-floating-button:not([disabled]):hover,
.wds-floating-button:not(.wds-is-disabled):hover {
  box-shadow: 0 0 10px 0 rgba(26, 26, 26, 0.4);
}
.wds-floating-button-group {
  display: inline-flex;
}
.wds-floating-button-group.wds-is-vertical {
  flex-flow: column;
}
.wds-floating-button-group:not(.wds-is-vertical) > .wds-floating-button:not(:first-child), .wds-floating-button-group:not(.wds-is-vertical) > *:not(:first-child) .wds-floating-button {
  margin-left: 8px;
}
.wds-floating-button-group.wds-is-vertical > .wds-floating-button:not(:first-child), .wds-floating-button-group.wds-is-vertical > *:not(:first-child) .wds-floating-button {
  margin-top: 8px;
}

.main .wds-floating-button {
	background-color:var(--dropdown-bg);
	color:#002a32;
	color:var(--content-color);
  box-shadow: 0 0 10px 0 rgba(26, 26, 26, 0.2), 0 0 10px rgba(240, 240, 240, 0.2);
}

.main .wds-floating-button:hover {
  box-shadow: 0 0 10px 0 rgba(26, 26, 26, 0.4), 0 0 10px rgba(240, 240, 240, 0.4);
}


.main .wds-floating-button.critical {
	color:red;
}

.main .wds-floating-button.accent {
	color:#cccddd;
	color:var(--content-border);
}

/* Dropdowns */
.wds-dropdown{
display:inline-flex;
display:inline-block\9;
*display:inline;
*zoom:1;
position:relative
}
.wds-dropdown__toggle{
cursor:default;

position:relative
}

.wds-dropdown__toggle-chevron:not(:only-child){
margin-left:6px;
}

.wds-button .wds-dropdown__toggle-chevron:not(:only-child){
margin-left:0;
}


.wds-dropdown__content{background-color:#fff;border:1px solid #ccc;border-radius:4px;display:none;left:50%;min-width:70%;padding:7px 0;position:absolute;top:100%;-ms-transform:translateX(-50%);transform:translateX(-50%);z-index:1}
.wds-dropdown__content.wds-is-right-aligned{left:auto;right:0;-ms-transform:none;transform:none}.wds-dropdown__content.wds-is-left-aligned{left:0;-ms-transform:none;transform:none}
.wds-dropdown__content:not(.wds-is-not-scrollable) .wds-list{background-image:radial-gradient(farthest-side at 50% 0,rgba(26,26,26,.12),transparent),radial-gradient(farthest-side at 50% 100%,rgba(26,26,26,.12),transparent);background-position:0 0,0 100%;background-repeat:no-repeat;background-size:100% 9px;max-height:270px;overflow-y:auto;position:relative;z-index:1}
.wds-dropdown__content:not(.wds-is-not-scrollable) 
.wds-list::after,.wds-dropdown__content:not(.wds-is-not-scrollable) .wds-list::before{background-color:#fff;content:'';display:block;height:30px;margin:0 0 -30px;position:relative;z-index:-1}.wds-dropdown__content:not(.wds-is-not-scrollable)
 .wds-list::after{background-color:#fff;margin:-29px 0 0}
 
 .wds-dropdown__content.wds-is-not-scrollable .wds-list{position:relative}
 
 .wds-dropdown__content .wds-list{padding:0}.wds-dropdown__content .wds-list>li{margin:0 9px;padding-left:9px;padding-right:9px;white-space:nowrap}
 
 .wds-dropdown__content .wds-list.wds-is-linked>li{padding:0}
 
 .wds-dropdown__content .wds-list.wds-is-linked>li>a{color:#39424d;padding-left:9px;padding-right:9px;text-decoration:none;transition-duration:.2s;transition-property:background-color,color}
 .wds-dropdown__content .wds-list.wds-is-linked>li.wds-is-selected>a:not(.wds-button),.wds-dropdown__content .wds-list.wds-is-linked>li:hover>a:not(.wds-button) {background-color:rgba(0,183,224,.1);color:#00b7e0}
 
 .wds-dropdown::after,.wds-dropdown::before{bottom:-1px;content:'';display:none;height:0;left:50%;pointer-events:none;position:absolute;width:0;z-index:2}
 
 .wds-dropdown::after{border:8px solid transparent;border-bottom-color:#fff;margin-left:-8px}

.wds-dropdown::before{border:9px solid transparent;border-bottom-color:#ccc;margin-left:-9px}

.wds-dropdown.wds-is-active::after,.wds-dropdown.wds-is-active::before,.wds-dropdown:hover::after,.wds-dropdown:hover::before{display:block}

.wds-dropdown.wds-no-chevron::before, .wds-dropdown.wds-no-chevron::after {display:none!important;}

.wds-dropdown.wds-is-active .wds-dropdown__content,.wds-dropdown:hover .wds-dropdown__content{display:inline-block; *display:inline; *zoom:1;
}

.wds-dropdown.wds-is-active .wds-dropdown__toggle-chevron,.wds-dropdown:hover .wds-dropdown__toggle-chevron{-ms-transform:rotate(180deg);transform:rotate(180deg)}

.wds-dropdown.wds-is-active.wds-has-dark-shadow::before,.wds-dropdown.wds-is-active.wds-has-shadow::before,.wds-dropdown:hover.wds-has-dark-shadow::before,.wds-dropdown:hover.wds-has-shadow::before{display:none}

.wds-dropdown.wds-has-shadow .wds-dropdown__content{box-shadow:0 0 10px 0 rgba(26,26,26,.2)}

.wds-dropdown.wds-has-dark-shadow .wds-dropdown__content{box-shadow:0 0 20px 0 rgba(26,26,26,.3)}

.wds-dropdown.wds-has-dark-shadow .wds-dropdown__content,.wds-dropdown.wds-has-shadow .wds-dropdown__content{border-color:transparent}

.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2{margin-right:0}

.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2>a{padding-right:18px;display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between}.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2 .wds-dropdown-chevron{-ms-transform:rotate(-90deg);transform:rotate(-90deg);margin-left:18px}.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2.wds-is-sticked-to-parent{position:relative}
.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2.wds-is-sticked-to-parent .wds-dropdown-level-2__content{top:auto;bottom:-8px}
.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2 .wds-dropdown-level-2__content{background-color:#fff;border:1px solid #ccc;border-radius:4px;display:none;left:100%;padding:7px 0;position:absolute;top:-8px}.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2 .wds-dropdown-level-2__content .wds-list.wds-is-linked>li>a{font-size:12px}.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2.wds-is-active .wds-dropdown-level-2__content,.wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2:hover .wds-dropdown-level-2__content{display:block}.wds-icon{fill:currentColor;height:24px;min-width:24px;width:24px}.wds-icon-small{height:18px;min-width:18px;width:18px}.wds-icon-tiny{height:12px;min-width:12px;width:12px}.wds-is-disabled{cursor:default;
opacity:.5;pointer-events:none}.wds-is-hidden{display:none!important}.wds-list{list-style-type:none;margin:0;padding:7px 18px}.wds-list>li{font-size:14px;font-weight:400;line-height:1em;padding:11px 0}.wds-list.wds-has-big-items{padding-bottom:2px;padding-top:2px}.wds-list.wds-has-big-items>li{font-size:16px;padding-bottom:16px;padding-top:16px}.wds-list.wds-has-bolded-items>li{font-weight:700}.wds-list.wds-has-lines-between>li{border-bottom:solid 1px #e6e6e6}.wds-list.wds-has-lines-between>li:last-child{border:0}.wds-list.wds-has-ellipsis.wds-is-linked>li>a,.wds-list.wds-has-ellipsis>li{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.wds-list.wds-is-linked>li{padding:0}.wds-list.wds-is-linked>li>a{display:block;padding:11px 0}.wds-menu-chevron{float:right;margin-top:5px;-ms-transform:rotate(-90deg);transform:rotate(-90deg);fill:#c5ced9}

.wds-list.wds-is-linked > li > a.wds-button{
  padding:7px 18px;
  min-height:18px;
  text-align:center;
  display:inline-flex;
  flex-grow:1;
}



.main .wds-dropdown__content:not(.wds-is-not-scrollable) .wds-list::before, .main .wds-dropdown__content:not(.wds-is-not-scrollable) .wds-list::after {
background-color:#ffffff;
background-color:var(--dropdown-bg);
  scrollbar-width:thin;
  scrollbar-color:#ccc transparent;
  scrollbar-color:var(--content-border) transparent;
}

.main .wds-dropdown__content{
background-color:#ffffff;
background-color:var(--dropdown-bg);
border-color:#cccddd;
border-color:var(--content-border);
box-shadow:0 2px 6px 0 rgba(0,0,0,.2), 0 2px 6px 0 rgba(255,255,255,0.2);}

.main .wds-dropdown__content .wds-list.wds-is-linked>li>a{color:#002a32; color:var(--content-color);}
.main .wds-dropdown__content .wds-list.wds-is-linked>li.wds-is-selected>a:not(.wds-button), .main .wds-dropdown__content .wds-list.wds-is-linked>li:hover>a:not(.wds-button){
background-color:rgba(24,187,197,0.1);
background-color:rgba(var(--link-color), 0.1);
color:#18bbc5;
color:rgb(var(--link-color));
}

.main .wds-dropdown__content .wds-list.wds-has-lines-between > li {
border-color:#cccddd;
border-color:var(--content-border);
}

.main .wds-dropdown::after{border-bottom-color:#fff; border-bottom-color:var(--dropdown-bg);margin-left:-8px}

.main .wds-dropdown::before{border-bottom-color:#cccddd;border-bottom-color:var(--content-border);margin-left:-9px}

.main .wds-dropdown__content .wds-list.wds-is-linked .wds-dropdown-level-2 .wds-dropdown-level-2__content{background-color:var(--dropdown-bg);border:1px solid var(--content-border);box-shadow:0 2px 6px 0 rgba(0,0,0,.2), 0 2px 6px 0 rgba(255,255,255,0.2);
}


.main .wds-dropdown.wds-has-shadow .wds-dropdown__content{
	box-shadow:0 3px 7px 0 rgba(0,0,0,.3), 0 3px 7px 0 rgba(255,255,255,0.3);
}

.main .wds-dropdown.wds-has-dark-shadow .wds-dropdown__content{
	box-shadow:0 4px 8px 0 rgba(0,0,0,.4), 0 4px 8px 0 rgba(255,255,255,0.4);
}

	.table {
		display:table;
	}
	.tr {
		display:table-row-group;
		vertical-align:middle;
	}
	.col {
		display:table-column-group;
		vertical-align:middle;
	}
	.thead {
		display:table-header-group;
		vertical-align:middle;
	}
	.tfoot {
		display:table-footer-group;
		vertical-align:middle;
	}
	.cell {
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}


a {
	text-decoration:none;
	color:#18bbc6;
	color:rgb(var(--link-color));
	cursor:pointer;
}

a:hover {
	text-decoration:underline;
}

.mpisto-gnav {
top:0;
left:0;
width:100%;
position:fixed;
color:rgb(23,23,23);
color:rgb(var(--community-header-text));
background-color:#18bbc6;
background-color:rgb(var(--community-header-bg));
box-shadow: 0 0 3px #000, 0 0 3px #fff;
box-sizing:content-box;
z-index:100;
display:flex;
flex-direction:column;
background-clip:border-box;
text-shadow:none; /* Disable Embolding caused by the update */
font-family:"Source Pro Sans", Source Sans Pro, sans-serif;
}



	.mpisto-global-navigation {
		height:49px;
		box-sizing:border-box;
		width:100%;
		border-spacing:0;
		display:block;
	}

	.mpisto-global-navigation .container {
		width:auto;
		padding:0 18px;
	}


/*.mpisto-global-navigation .wds-dropdown, .mpisto-global-navigation .wds-dropdown .link, .mpisto-global-navigation .wds-dropdown__content .wds-list, .mpisto-global-navigation .wds-dropdown-level-2__content {
  transform:rotate(180deg);
}
*/
	.mpisto-global-navigation .link {
		transition:background-color 400ms ease, color 400ms ease, border-color 400ms ease, text-shadow 400ms ease;
		padding: 0 10px;
		height:49px;
		color:inherit;
		text-decoration:none!important;
		font-size:18px;
		white-space:nowrap;
	}
	
	.mpisto-global-navigation .link span, .mpisto-global-navigation .link .wds-icon {
		height:inherit!important;
}
	

	.mpisto-global-navigation .search-link {
		padding: 0 10px;
		height:49px;
		color:inherit;
		cursor:inherit;
		text-decoration:none!important;
		font-size:18px;
		white-space:nowrap;
		width:100%;
	}

	.mpisto-global-navigation .link .wds-icon {
		width:26px;
		height:26px;
	}

	.mpisto-global-navigation .link .wds-icon.wds-icon-small {
		width:20px;
		height:20px;
	}

	.mpisto-global-navigation .link .wds-icon.wds-icon-tiny {
		width:14px;
		height:14px;
	}

	.mpisto-global-navigation .wds-dropdown__toggle-chevron:not(:only-child) {
		margin:0;
	}


	.mpisto-global-navigation .link big {
		font-size:120%;
		font-weight:lighter;
	}

	.mpisto-global-navigation .link small {
		font-size:80%;
		font-weight:bolder;
	}

	.mpisto-global-navigation .link small.name {
		max-width:80px;
		text-overflow:ellipsis;
		overflow:hidden;
		display:inline-block;
		margin-left:1px;
	}


	.mpisto-global-navigation .search-link .mpisto-input {
		width:90%!important;
		color:inherit;
	}
.mpisto-global-navigation .search-link input:-ms-input-placeholder { /* Internet Explorer */
  color:inherit;
  opacity:1;
}

.mpisto-global-navigation .search-link input:placeholder-shown {
  color:inherit;
  opacity:1;
}


.mpisto-global-navigation .search-link input::-ms-input-placeholder { /* Microsoft Edge */
  color:inherit;
	opacity:1;
}

.mpisto-global-navigation .search-link input::placeholder { /* Standard */
  color:inherit;
  opacity:1;
}

	.mpisto-global-navigation .wds-dropdown {
		display:table-cell;
		vertical-align:top;
	}
	.mpisto-global-navigation .wds-dropdown .link {
		vertical-align:middle;
	}
	.mpisto-global-navigation .link * {
		vertical-align:middle;
	}

	.mpisto-global-navigation .link .mpisto-avatar {
		width:26px;
		height:26px;
		min-width:26px;
		min-height:26px;
		border-width:1.5px;
		opacity:1;
		display:inline;
	}
	.mpisto-global-navigation .link:hover, .mpisto-global-navigation .wds-dropdown:hover .link {
	background-color:rgba(23,23,23,0.3);
	background-color:rgba(var(--community-header-text),0.3);
	color:rgba(23,23,23,0.8);
	color:rgba(var(--community-header-text),0.8);
	}
	.mpisto-global-navigation .link.company {
		width:100%;
	}



/** Responsive Global Nav **/
	@media only screen and (max-width:754px) {
		.mpisto-global-navigation .link .name {
			display:none!important;
		}

	.mpisto-global-navigation .wds-dropdown__toggle-chevron {
		display:none;
	}
	}

	@media only screen and (min-width:960px) {
		.mpisto-global-navigation .small-only {
			display:none!important;
		}
	}

	@media only screen and (max-width:959px) {
		.mpisto-global-navigation .med-up {
			display:none!important;
		}
	}

	@media only screen and (min-width:1100px) {
		.mpisto-global-navigation .med-down {
			display:none!important;
		}
		
	}


	@media only screen and (max-width:1099px) {
		.mpisto-global-navigation .large-up {
			display:none!important;
		}
		
	}
	
	@media only screen and (max-width:1399px) {
		#GlobalNavigation:not(.active-search) .search-off {
			display:none!important;
		}
		#GlobalNavigation.active-search .search-on {
			display:none!important;
		}
}


	@media only screen and (min-width:1400px) {
		.mpisto-global-navigation .large-down {
			display:none!important;
		}

	.mpisto-global-navigation .search-link, .mpisto-global-navigation .link.company {
		width:50%;
	}
		
	}

/* Notifications */
.notification.wds-dropdown__content .wds-list { 
	display:flex;
	flex-direction:column;
}

.notification.wds-dropdown__content .wds-list > li{ 
	width:100%;
}

.notification.wds-dropdown__content .wds-list > li:first-child, 
.notification.wds-dropdown__content .wds-list > li:first-child > a {
  border-radius:3px 3px 0 0;
}

.notification.wds-dropdown__content .wds-list > li:not(:last-child):not(.empty) > a {
  display:table-cell;
  width:100%;
  padding:0 9px;
}




.notification.wds-dropdown__content .wds-list > li:not(:last-child):not(.empty) {
  display:table;
  position:relative;
  z-index:2;
  cursor:url("Windows/hand.cur"), pointer;
  text-decoration:none;
}

.notification.wds-dropdown__content .wds-list > li:not(:last-child) > a * {
  cursor:inherit;
}

.notification.wds-dropdown__content .wds-list > li.empty {
  padding:18px 18px 11px;
}

.notification.wds-dropdown__content .wds-list > li {
margin:0;
}

.notification.wds-dropdown__content .wds-list > li:not(:last-child):not(.empty) a:after {
  position:absolute;
  opacity:0.1;
  top:0;
  left:0;
  content:"";
  display:block;
  width:calc(100% + 0.5px);
  height:100%;
  transition:background-color .2s ease 0.01s;
  z-index:-1;
  border-radius:inherit;
}
.notification.wds-dropdown__content .wds-list > li:not(:last-child) a:hover {
text-decoration:none;
}

.notification.wds-dropdown__content .wds-list > li:not(:last-child):not(.empty) a:hover:after {
  background-color:#000;
  background-color:var(--content-color);
}


.notification.wds-dropdown__content {
padding:0;
}

.notification.wds-dropdown__content .wds-list > li:not(:last-child) a > .wrapper {
display:table;
}

.notification.wds-dropdown__content .wds-list > li:not(:last-child) a img {
  box-sizing:border-box;
  border:0;
  border-radius:50%;
  background-blend-mode:normal;
  width:28px;
  height:28px;
  opacity:1;
}

.notification.wds-dropdown__content .wds-list > li:not(:last-child) a > .wrapper div {
    display:table-cell;
    vertical-align:middle;
    padding-left:5px;
}

.notification.wds-dropdown__content .wds-list > li:not(:last-child) a div h3 {
  font-size:16px;
  font-weight:bolder;
  color:#1a1a1a;
  color:var(--content-color);
  text-decoration:none;
  margin:0;
  font-family:"Mpisto Serif", "Source Pro Serif", cursive;
}

.notification.wds-dropdown__content .wds-list > li.new a div h3 {
  color:limegreen;
}

.notification.wds-dropdown__content .wds-list > li.reply a div h3 {
  color:orange;
}


.notification.wds-dropdown__content .wds-list > li.new.highlighted > a:before {
  position:absolute;
  top:0;
  left:0;
  content:"";
  display:block;
  width:calc(100% + 0.5px);
  height:calc(100% - 1px);
  transition:background-color .2s ease 0.01s;
  z-index:1;
  border-radius:inherit;
  outline:1px solid limegreen;
  outline-offset:-1px;
}

.notification.wds-dropdown__content .wds-list > li:not(:last-child) div h6 {
  font-size:11px;
  font-weight:lighter;
  display:block;
  margin:0;
  color:#1a1a1a;
  color:var(--content-color);
  line-height:0;
}

.notification.wds-dropdown__content .wds-list > li a div h6 time::before {
  content:" ~ "
}

.notification.wds-dropdown__content .wds-list > li + .empty {
display:none;
}

.notification.wds-dropdown__content .wds-list > li:last-child {
  text-align:center;
}



.mpisto-content {
	margin:20px auto;
	box-shadow:0 2px 6px 0 rgba(0,0,0,.2), 0 2px 6px 0 rgba(255,255,255,0.2);
	padding:0;
	position:relative;
	z-index:2;
}

.mpisto-content::after {
	content:"";
	opacity:0.85;
	background-color:#fff;
	background-color:var(--content-bg);
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:block;
	position:absolute;
	z-index:-1;
}

.mpisto-content .mpisto-wrapper {
	min-height:50px;
	padding:0 18px 8px;
	border:1px solid #ccc;
	border-color:var(--content-border);
}

	.mpisto-header-container {
		margin:-1px;
		color:rgb(23,23,23);
		color:rgb(var(--community-header-text));
		background-color:#18bbc6;
		background-color:rgb(var(--community-header-bg));
		z-index:10;
		position:relative;
	}


	.mpisto-header-container .wds-dropdown {
		display:table-cell;
	}


	.mpisto-header-container + .wds-community-header {
		display:none!important;
	}

	.color-header {
		min-height:60px;
		position:relative;
		z-index:inherit;
	}
	
	.color-header .wordmark img {
		height:54px;
		margin:0 10px;
		vertical-align:middle;
	}


	.color-header .counters {
		height:60px;
		padding:0 16px;
		font-size:16px;
		font-weight:500;
		text-align:left;
	}

	
	.color-header .counter {
		white-space:nowrap;
	}

	.color-header .counter big {
		font-weight:bolder;
		font-size:120%;
	}
	

	.mpisto-header-container .link {
		-webkit-transition:color 200ms ease, background-color 150ms linear 100ms, border-color 150ms linear 100ms, background-image 150ms linear 100ms;
		-o-transition:color 200ms ease, background-color 150ms linear 100ms, border-color 150ms linear 100ms, background-image 150ms linear 100ms;
		transition:color 200ms ease, background-color 150ms linear 100ms, border-color 150ms linear 100ms, background-image 150ms linear 100ms;
		padding: 0 9px;
		height:inherit;
		color:inherit;
		text-decoration:none!important;
		font-size:18px;
		border:1px solid transparent;
		box-sizing:border-box;
	}

	.color-header .link {
		padding: 0 11px;
		height:60px;
	}
	
	.color-header .wds-dropdown {
		height:inherit;
		display:inline-block;
	}
	
	.color-nav .wds-dropdown {
		height:30px;
	}

	.color-nav .link {
		width:100%;
		white-space:nowrap;
	}
	
	.mpisto-header-container .link:hover, .mpisto-header-container .wds-dropdown:hover .link {
		background-color:rgba(23,23,23,0.3);
		background-color:rgba(var(--community-header-text),0.3);
		color:rgba(23,23,23,0.8);
		color:rgba(var(--community-header-text),0.8);
	}
	
	.color-header .title {
		width:100%;
		line-height:1.4;
		font-size:24px;
		font-weight:800;
		height:60px;
		padding:0 16px;
		font-family:"Mpisto Serif", "Source Pro Serif", serif;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}

	.color-header .title a {
		text-decoration:none;
		color:inherit;
		transition:opacity 400ms ease, color 400ms ease;
		overflow:hidden;
		text-overflow:ellipsis;
	}

	.color-header .title a:hover {
		opacity:0.8;
	}


	.mobile-header {
		display:none;
		justify-content:center;
		min-height:60px;
		flex-direction:column;
	}

	.mobile-header section {
		width:100%;
		display:flex;
		padding:5px 18px;
		justify-content:space-around;
		align-items:stretech;
	}

	.mobile-header .title {
		justify-content:center;
		line-height:1.4;
		font-size:24px;
		font-weight:800;
		font-family:"Mpisto Serif", "Source Pro Serif", serif;
	}

	.mobile-header .title a {
		text-decoration:none;
		color:inherit;
		transition:opacity 400ms ease, color 400ms ease;
		overflow:hidden;
		text-overflow:ellipsis;
	}

	.mobile-header .title a:hover {
		opacity:0.8;
	}


	.mobile-header .counters {
		font-size:16px;
	}

	.mobile-header .counter {
		white-space:nowrap;
	}

	.mobile-header .counter big {
		font-weight:bolder;
		font-size:120%;
	}


	.mobile-header .buttons {
		padding:0;
		display:block!important;
	}

	.mobile-header .buttons nav {
		flex:1;
		width:100%;
		display:flex;
	}

.mobile-header .buttons .link {
		flex:1;
		display:inline-flex;
		align-items:center;
		justify-content:center;
		padding: 0 9px;
		height:55px;
	}


/* Mobile Footer */
footer.footer {
width:100%;
min-height:50px;
/*border-top:2px solid #b0a1ee;
*/
background-color:#002a32;
background-color:var(--content-color);
color:#ffffff;
color:var(--dropdown-bg);
position:relative;
z-index:49;
padding:0 18px;
display:none;
box-sizing:border-box;
}

footer.footer .wrapper {
/*border:1px solid #b0a1ee;
border-top-style:hidden;
border-bottom-style:hidden;
*/
width:100%;
max-width:926px;
border-spacing:0;
margin:0 auto;
color:inherit;
border-collapse:separate; /* Mac mInerva and QortaQorte uses border-collapse:collapse by default, leading to unexpected layout */
font-weight:400;
}

footer.footer .wrapper .footer-container {
min-height:30px;
}

footer.footer .wrapper .footer-container > * > th,
footer.footer .wrapper .footer-container > * > td {
/*border:1px solid #b0a1ee;
*/
box-sizing:border-box;
}

footer.footer .wrapper .footer-container th {
width:100%;
}

footer.footer .wrapper .footer-container th h1 {
font-weight:600;
font-size:36px;
display:inline;
vertical-align:middle;
margin-left:8px;
}

footer.footer .wrapper .footer-container th * {
vertical-align:middle;
}

footer.footer .wrapper .footer-container th.footer-bar h3 {
font-size:20px;
}

footer.footer .wrapper .footer-container th {
position:relative;
font-weight:inherit;
z-index:1;
}

footer.footer .wrapper .footer-container th:not(.footer-bar) {
  border-top:0;
  height:65px;
}

/*footer.footer .wrapper .footer-container th::after {
position:absolute;
top:0;
left:0;
height: 100%;
width: 100%;
z-index:-1;
content:"";
display:block;
background-color:#002200;
opacity:0.11;
}
*/

footer.footer .wrapper .footer-container td {
/*font-size:17px;
padding:4px 8px 8px;
*/
position:relative;
z-index:1;
font-weight:500;
text-align:left;
}


/*footer.footer .wrapper .footer-container td::after {
position:absolute;
top:0;
left:0;
height: 100%;
width: 100%;
z-index:-1;
content:"";
display:block;
background-color:#002200;
opacity:0.035;
}
*/

footer.footer .wrapper .footer-container td h2 {
	font-size:24px;
	font-weight:bolder;
	text-align:left;
    font-family:"Mpisto Serif", "Source Pro Serif", serif;
}

footer.footer .wrapper .footer-container td a {
/*
padding:6px 2px;
*/
display:block;
-o-transition:all 150ms ease 12ms;
transition:all 150ms ease 12ms;
text-decoration:none;
line-height:1.5;
-o-transition:all 500ms;
transition:all 500ms;
font-size:16px;
clear:both;
color:#18bbc6;
color:rgb(var(--link-color));
}

footer.footer .wrapper .footer-container td a:hover {
    color:#ffffff;
    color:var(--dropdown-bg);
}


.main-footer {
position:relative;
background-color:#92DFE4;
background-color:var(--emphasis-bg);
border:1px solid #cccddd;
border-color:var(--content-border);
width:-webkit-calc(100% + 50px);
width:calc(100% + 50px);
width:100%;
margin:-1px 0px 0px;
padding:10px;
		box-sizing:border-box;
letter-spacing:0.3px;
text-align:center;
clear:both;
}

.main-footer hr {
border:4px inset #18bbc6;
border-color:var(--button-color);
}

h1, h2, h3, h4, h5, h6 {
	margin:8px 0;
	font-weight:inherit;
	font-style:inherit;
}

.mpisto-page-header {
	padding:0 0 10px;
	border-bottom:1px solid #cccddd;
	border-bottom-color:var(--content-border);
}

.mpisto-content .mpisto-page-header-title {
border-bottom:1px solid #ccc;
border-bottom:1px solid var(--content-border);
display:-ms-flexbox;
display:flex;
flex-wrap:wrap;
line-height:1.35;
margin:0px -19px 8px;
padding:8px 19px;
align-items:center;
	background-color:#18bbc5;
	background-color:var(--button-color);
	background-image:linear-gradient(to bottom, #18bbc5 35%, rgba(23,23,23,0.3) 70%);
	background-image:linear-gradient(to bottom, var(--button-color) 35%, rgba(23,23,23,0.3) 70%);
	color:black;
	color:var(--button-color-text);
background-blend-mode:soft-light;
}

.mpisto-page-header-title .wds-button:not(.wds-is-secondary):not(.wds-is-text) {
	color:#18bbc5;
	color:var(--button-color);
	background-color:#000;
	background-color:var(--button-color-text);
	border-color:#000;
	border-color:var(--button-color-text);
	transition-property:opacity;
	transition-duration:200ms;
}

.mpisto-page-header-title .wds-button:not(.wds-is-secondary):not(.wds-is-text):hover {
	opacity:0.8;
}

.mpisto-page-header-title .wds-button.wds-is-secondary {
	color:currentColor;
	border-color:currentColor;
	transition-property:opacity;
	transition-duration:200ms;
}

.mpisto-page-header-title .wds-button.wds-is-secondary:hover {
	color:currentColor;
	border-color:currentColor;
	opacity:0.8;
}


.mpisto-page-header h1 {
	font-size:32px;
	font-weight:600;
	font-family:"Mpisto Serif", "Source Pro Serif", serif;
	flex:1;
	line-height:1;
-webkit-text-stroke:1.25px black;
-webkit-text-stroke-color:var(--button-color-text);
-webkit-text-fill-color:#18bbc5;
-webkit-text-fill-color:var(--button-color);
text-shadow:0 0 2px black;
text-shadow:0 0 2px var(--button-color-text);

}

.pageheader-search {
	margin-left:10px;
	display:inline-flex;
}

.pageheader-search .mpisto-input {
padding:7px 12px;
font-size:14px;
width:200px;
line-height:16px;
height:18px;
border-bottom-right-radius:0;
border-top-right-radius:0;
background-clip:border-box!important;
}

.pageheader-search .wds-button {
padding:7px 12px;
z-index:6;
border-radius:0 1000px 1000px 0;
vertical-align:middle;
line-height:16px;
}


.mpisto-page-header .buttons {
	display:flex;
	align-items:center;
	justify-content:space-around;
	flex-wrap:wrap;
	z-index:4;
	position:relative;
}

.mpisto-page-header .buttons > * {
	margin:1px;
}

.mpisto-page-header .buttons .wds-button.wds-is-secondary {
	border-color:#ccc;
	border-color:var(--content-border);
	color:#ccc;
	color:var(--content-border);
}


.mpisto-page-header .buttons .wds-button.wds-is-secondary:hover, .mpisto-page-header .buttons .wds-button.wds-is-secondary:focus {
	border-color:#b3b3b3;
	border-color:var(--content-border-dark);
	color:#b3b3b3;
	color:var(--content-border-dark);
}


.mpisto-page-header .buttons .wds-button.wds-is-text {
	color:#ccc;
	color:var(--content-border);
}


.mpisto-page-header .buttons .wds-button.wds-is-text:hover, .mpisto-page-header .buttons .wds-button.wds-is-text:focus {
	color:#b3b3b3;
	color:var(--content-border-dark);
}


.mpisto-article-wrapper {
	display:flex;
	justify-content:space-around;
}

.mpisto-content .mpisto-article {
	flex:1;
	padding:8px 0 0;
}

.mpisto-content .mpisto-actions {
	display:flex;
	flex-direction:column;
	align-items:center;
	position:relative;
}

.mpisto-content .mpisto-actions .wds-floating-button-group {
	padding:18px 18px 18px 8px;
	position:static;
	position:-webkit-sticky;
	position:sticky;
	top:49px;
}

.mpisto-article h1 {
	font-weight:300;
	font-size:28px;
}

.mpisto-article h2 {
	font-weight:500;
	font-size:20px;
	border-bottom:1px solid #cccddd;
	border-bottom-color:var(--content-border);
}

.mpisto-article h3 {
	font-weight:600;
	font-size:17px;
}

.mpisto-article h4 {
	font-weight:700;
	font-size:14px;
}

.mpisto-article h5 {
	font-weight:800;
	font-size:12px;
}

.mpisto-article h6 {
	font-weight:900;
	font-size:10px;
	font-variant:small-caps;
	letter-spacing:0.15px;
	word-spacing:0.15px;
}

/* Footer */
footer.mpisto-footer {
width:100%;
min-height:50px;
background-color:#002a32;
background-color:var(--content-color);
margin:30px 0 0;
color:#ffffff;
color:var(--dropdown-bg);
position:relative;
z-index:49;
box-shadow: 0 0 3px #002a32, 0 0 3px #ffffff;
box-shadow: 0 0 3px var(--content-color), 0 0 3px var(--dropdown-bg);
}




footer.mpisto-footer .wds-button {
	border-radius:8px;
	padding:8px 16px;
	font-size:12.5px;
	transition:all 500ms;
}

/* Button Styling */
footer.mpisto-footer .wds-button.wds-is-secondary {
  color:#18bbc6;
  color:rgb(var(--link-color));
  border-color:#18bbc6;
  border-color:rgb(var(--link-color));
}

footer.mpisto-footer .wds-button.wds-is-secondary:hover {
  color:#ffffff;
  color:var(--dropdown-bg);
  border-color:#ffffff;
  border-color:var(--dropdown-bg);
}


footer.mpisto-footer .wds-button:not(.wds-is-secondary):not(.wds-is-text) {
  color:#002a32;
  color:var(--content-color);
  border-color:#18bbc6;
  border-color:rgb(var(--link-color));
  background-color:#18bbc6;
  background-color:rgb(var(--link-color));
}

footer.mpisto-footer .wds-button:not(.wds-is-secondary):not(.wds-is-text):hover, footer.mpisto-footer .wds-button:not(.wds-is-secondary):not(.wds-is-text):active, footer.mpisto-footer .wds-button:not(.wds-is-secondary):not(.wds-is-text):focus {
  border-color:#ffffff;
  border-color:var(--dropdown-bg);
  background-color:#ffffff;
  background-color:var(--dropdown-bg);
}

footer.mpisto-footer .wds-button.wds-is-text:not(.wds-is-secondary) {
  color:#18bbc6;
  color:rgb(var(--link-color));
  border:0;
}

footer.mpisto-footer .wds-button.wds-is-text:hover, footer.mpisto-footer .wds-button.wds-is-text:active, footer.mpisto-footer .wds-button.wds-is-text:focus {
  color:#ffffff;
  color:var(--dropdown-bg);
}


footer.mpisto-footer .mpisto-wrapper {
padding:0 18px;
border-spacing:0;
margin:0 auto;
color:inherit;
border-collapse:separate; /* Mac mInerva and QortaQorte uses border-collapse:collapse by default, leading to unexpected layout */
display:table;
table-layout:fixed;
box-sizing:border-box;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-overview {
min-height:30px;
display:inline-block;
width:260px;
vertical-align:middle;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container {
	width:calc(100% - 266px);
	display:inline-block;
	vertical-align:middle;
}



footer.mpisto-footer .mpisto-wrapper header {
width:100%;
text-align:left;
font-weight:500;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-bar h3 {
	text-align:center;
	font-size:20px;
}


footer.mpisto-footer .mpisto-wrapper nav {
text-align:left;
font-weight:500;
display:table-cell;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container nav {
	width:2%;
}


footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container .app-download div {
	display:table;
	width:100%;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container .app-download span {
	display:table-cell;
}



footer.mpisto-footer .mpisto-wrapper  h2 {
	font-size:24px;
	font-weight:bolder;
	text-align:left;
  font-family:"Mpisto Serif", "Source Pro Serif", serif;
}

footer.mpisto-footer .mpisto-wrapper .overview {
	display:block;
}

footer.mpisto-footer .mpisto-wrapper .link {
  color:#18bbc6;
  color:rgb(var(--link-color));
  font-size:16px;
	display:block;
  text-decoration:none;
  line-height:1.5;
  transition:all 500ms;

}

footer.mpisto-footer .mpisto-wrapper .link:hover {
  color:#ffffff;
  color:var(--dropdown-bg);
}


footer.mpisto-footer .mpisto-wrapper .wordmark-container {
	display:block;
}



footer.mpisto-footer .mpisto-wrapper .wordmark {
	transition:opacity 500ms;
	width:auto;
	height:auto;
	max-height:65px;
}

footer.mpisto-footer .mpisto-wrapper .wordmark img {
	width:inherit;
	max-height:inherit;
	height:inherit;
}

footer.mpisto-footer .mpisto-wrapper .wordmark:hover {
	opacity:0.8;
}

.mpisto-article-content {
	display:flex;
	flex:1;
}

.mpisto-bottom-pane {
width:300px;
}

.mpisto-module {
background-color:#ffffff;
background-color:var(--dropdown-bg);
box-shadow:0 2px 2px #cccddd, 0 0 6px -1px #000, 0 0 10px -0.5px #fff;
box-shadow:0 2px 2px var(--content-border), 0 0 6px -1px #000, 0 0 10px -0.5px #fff;
border:1px solid #cccddd;
border-color:var(--content-border);
min-height:20px;
padding:0 8px;
margin:10px;
border-radius:10px;
}

.mpisto-module h2 {
border-bottom:1px solid #cccddd;
border-bottom-color:var(--content-border);
background-color:#92DFE4;
background-color:var(--emphasis-bg);
padding:8px;
display:flex;
font-size:16px;
font-weight:600;
align-items:center;
margin:0 -8px 4px;
position:relative;
z-index:0;
border-top-left-radius:inherit;
border-top-right-radius:inherit;
transition:margin-bottom 200ms;
}

.mpisto-module h2 .module-toggle {
  color:inherit;
}

 .hidden-module.mpisto-module h2,  .hidden-module.mpisto-module h2:before,  .hidden-module.mpisto-module h2:after {
    margin-bottom:-1px;
    border-radius:inherit;
    border:0;
}

 .hidden-module.mpisto-module h2 .module-toggle .wds-icon {
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}

.mpisto-module h2 span {
  flex:1;
}

.mpisto-module h2 .wds-icon {
margin-right:8px;
}

.mpisto-module h2 .module-toggle .wds-icon {
margin-right:0;
transition:transform 200ms;
}

.mpisto-module h2::after {
position:absolute;
top:0;
left:0;
height: 100%;
width: 100%;
z-index:-1;
content:"";
display:block;
background-color:#000;
opacity:0.06;
border-top-left-radius:inherit;
border-top-right-radius:inherit;
}

.mpisto-module h2::before {
position:absolute;
top:0;
left:0;
height: 100%;
width: 100%;
z-index:-1;
content:"";
display:block;
background-color:#fff;
opacity:0.06;
border-top-left-radius:inherit;
border-top-right-radius:inherit;
}



.mpisto-module ul {
margin:4px 0 6px;
list-style-type:none;
padding:0;
transition-property:margin, padding, visibility, height;
transition-duration:200ms;
}



.mpisto-module ul > li {
font-weight:600;
font-size:14px;
text-align:left;
margin:0;
padding:2px 0;
border-bottom:1px solid #cccddd;
border-bottom-color:var(--content-border);
}

.mpisto-module ul > li:first-child {
padding-top:0;
}

.mpisto-module ul > li:last-child {
border-bottom:0;
}

.mpisto-module ul > li > span {
font-size:12px;
font-weight:lighter;
display:block;
}

.mpisto-module ul > li > span > time::before {
content: " ~ ";
}

.mpisto-module .buttons {
padding:8px;
margin:0 -8px;
display:flex;
flex-wrap:wrap;
justify-content:flex-end;
border-bottom-left-radius:inherit;
border-bottom-right-radius:inherit;
position:relative;
z-index:1;
background-color:#fff;
background-color:var(--content-bg);
transition-property:margin, padding, visibility, height;
transition-duration:200ms;
border-top:1px solid #cccddd;
border-top-color:var(--content-border);
}


.mpisto-module .buttons * {
margin:2px;
}

.mpisto-module .buttons .wds-button {
min-height:14px;
}



.mpisto-module .buttons::after {
position:absolute;
top:0;
left:0;
height: 100%;
width: 100%;
z-index:-1;
content:"";
display:block;
background-color:#b2b2b2;
opacity:0.1;
border-bottom-left-radius:inherit;
border-bottom-right-radius:inherit;
}

.hidden-module.mpisto-module ul, .hidden-module.mpisto-module .buttons {
    margin: 0;
    height: 0px;
    visibility: hidden;
    padding:0;
    overflow:hidden;
 }

/* Flags */
.flags-dropdown button.wds-is-full-width {
    margin:auto;
}

.flag-link {
  outline:1px dotted currentColor;
}

.flags-dropdown {
  padding:3.5px 0;
}