/* Theme */
.theme-A {
--background-image:url("headbg.jpg");
--background-color:#aa00aa;
--link-color:#dd9aff;
--content-bg:#1aef28;
--content-border:#b0a1ee;
--content-color:#002200;
--button-color:#18C5BB;
--community-header-bg:#aa9900;
}

.theme-B {
--background-image:url("headbg4.jpg");
--background-color:#e95500;
--link-color:#9418c5;
--content-bg:#fdfeff;
--content-border:#d1d1d1;
--content-color:#1a2a3a;
--button-color:#FF7E09;
--community-header-bg:#ff7e09;
}

.theme-C {
--background-image:url("");
--background-color:#f6f6f6;
--link-color:#ff6a64;
--content-bg:#f6f6f6;
--content-border:#00d6d6;
--content-color:#002a32;
--button-color:#00D6D6;
--community-header-bg:#13282c;
}

.theme-D {
--background-image:url("http://a-help.referata.com/w/images/Besto-BACK.jpg");
--background-color:#012e55;
--link-color:#a9ce3a;
--content-bg:#ffffff;
--content-border:#cccccc;
--content-color:#1a1a1a;
--button-color:#F15920;
--community-header-bg:#f15920;}


/* Main CSS */
body { 
margin:0;
color:var(--content-color);
overscroll-behavior:none;
-webkit-font-smoothing:antialised;
-moz-osx-font-smoothing:grayscale;
touch-action:manipulation;
/*
	background-color:var(--background-color);
	background-image:var(--background-image);
*/
(M)touch-action:auto; /* mInerva 11.5- can make unscrollable page with mouse and keyboard */
position:relative;
-qq-image-flip:noflip; /* Avoid flipping images by some custom CSSes */
  image-rendering:initial;                  /* CSS4 Proposed  */
  -qq-image-blurring:tick;                  /* 4x4 Web 1-2    */
/* text-shadow:0 0 1px rgba(255,0,0,0.2), 0 0 1px rgba(0,255,0,0.2), 0 0 1px rgba(0,0,255,0.2), 0 0 1px rgba(255,255,0,0.2), 0 0 1px rgba(255,0,255,0.2), 0 0 1px rgba(0,255,255,0.2), 0 0 1px rgba(0,0,0,0.2), 0 0 1px rgba(255,255,255,0.2);  Partially Embolding */
/* text-shadow:0 0 1px rgba(0,0,0,0.1),0 0 1px rgba(255,255,255,0.1);  Partially Embolding */
}

body .mpisto-content {
	color:var(--content-color);
}




*,:before,:after {
box-sizing:border-box;
box-sizing:border-box;
outline:0;
resize:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  -qq-image-blurring:cross;                  /* 4x4 Web 1-2    */
border-radius:0; /* Remove initial border-radius set by some agents such as FF for Android in input fields */
-qq-invert-style:classic; /* Prevent extra 180deg hue-rotation on inverts on mInerva */
scrollbar-color:inherit;
}

button, input {
	font-family:inherit;
	text-transform:none; /* Removes inheritance of text-transform property in Edge and Firefox */
}

/*
body:not(.theme-on) .theme-off {
	display:NONE!IMPORTANT;
}
*/


.container {
	width:1066px;
	margin-left:auto;
	margin-right:auto;
}

/* Avatars */
.mpisto-avatar {
width:28px;
min-width:28px;
height:28px;
border:1.75px solid currentcolor;
background-blend-mode:soft-light;
-webkit-box-decoration-break:clone;
box-decoration-break:clone;
-webkit-border-radius:50%;
border-radius:50%;
opacity:0.99;
-qq-image-flip:noflip; /* Avoid flipping images by some custom CSSes */
  image-rendering:initial;                  /* CSS4 Proposed  */
  -qq-image-blurring:tick;                  /* 4x4 Web 1-2    */
}

.mpisto-avatar-group {
position:relative;
margin:8px 20px 8px 20px;
}

.mpisto-avatar-group > .mpisto-avatar {
  box-sizing:content-box;
  z-index:auto;
  position:relative;
  background-blend-mode:color-b;
}

.mpisto-avatar-group > .mpisto-avatar:not(:first-child):not(:only-child) {
  margin-left:-14px;
}

.cpe-avatar{
height:28px;
min-width:28px;
width:28px;
border:2px solid currentColor;
border-radius:50%;
-qq-imaage-flip:noflip; /* Avoid flipping images by some custom CSSes */
  image-rendering:initial;                  /* CSS4 Proposed  */
  -qq-image-blurring:tick;                  /* 4x4 Web 1-2    */
}
.cpe-avatar-stack{
align-items:center;
display:flex;
margin:8px 18px 6px 40px
}

.cpe-avatar-stack__avatar{
color:#ccc;
  image-rendering:initial;                  /* CSS4 Proposed  */
  -qq-image-blurring:tick;                  /* 4x4 Web 1-2    */
}

.cpe-avatar-stack .cpe-avatar-stack__avatar:nth-child(1){
position:relative;
transform:translate(0);
z-index:4
}
.cpe-avatar-stack .cpe-avatar-stack__avatar:nth-child(2){
position:relative;
transform:translate(-10px);
z-index:3
}

.cpe-avatar-stack .cpe-avatar-stack__avatar:nth-child(3){
position:relative;
transform:translate(-20px);
z-index:2
}

.cpe-avatar-stack .cpe-avatar-stack__avatar:nth-child(4){
position:relative;
transform:translate(-30px);
z-index:1
}

.cpe-avatar-stack .cpe-avatar-stack__avatar:nth-child(5){
position:relative;
transform:translate(-40px);
z-index:0
}

.cpe-avatar-stack__overflow{
background-color:var(--content-bg);
border:0;
color:#333;
font-size:12px;
padding-left:6px;
transform:translate(-40px);
width:auto;
}

/*.main .cpe-avatar-stack__avatar{
color:var(--content-border);
}
*/
.main .cpe-avatar-stack__overflow{
background-color:transparent;
color:var(--content-color);
}


[class*="avatar"] {
box-sizing:content-box;
}


	.table {
		display:table;
	}
	.tr {
		display:table-row-group;
		vertical-align:middle;
	}
	.col {
		display:table-column-group;
		vertical-align:middle;
	}
	.thead {
		display:table-header-group;
		vertical-align:middle;
	}
	.tfoot {
		display:table-footer-group;
		vertical-align:middle;
	}
	.cell {
		display:table-cell;
		vertical-align:middle;
		text-align:center;
	}



.mpisto-gnav {
--global-nav-color:var(--emphasis-bg-rgb);
--global-nav-text-color:var(--content-color);
--global-nav-opacity:0.9;
top:0;
width:100%;
position:fixed;
/*
color:var(--community-header-text);
background-color:var(--community-header-bg);
*/
background-color:rgba(var(--global-nav-color),var(--global-nav-opacity));
color:var(--global-nav-text-color);
box-shadow: 0 0 3px #000, 0 0 3px #fff;
box-sizing:content-box;
z-index:100;
max-width:2000px;
display:flex;
flex-direction:column;
background-clip:border-box;
text-shadow:none; /* Disable Embolding caused by the update */
font-family:"Source Sans Pro", var(--foreign-fonts), cursive; /* Noto Sans */
}



	.mpisto-global-navigation {
		height:49px;
		box-sizing:border-box;
		width:100%;
		border-spacing:0;
		display:block;
	}

	.mpisto-global-navigation .container {
		width:auto;
		padding:0 18px;
	}


/*.mpisto-global-navigation .cpe-dropdown, .mpisto-global-navigation .cpe-dropdown .link, .mpisto-global-navigation .cpe-dropdown__content .cpe-list, .mpisto-global-navigation .cpe-dropdown-level-2__content {
  transform:rotate(180deg);
}
*/
	.mpisto-global-navigation .link {
		transition:background-color 400ms ease, color 400ms ease, border-color 400ms ease, text-shadow 400ms ease, padding 300ms ease, max-width 300ms ease, font-size 300ms ease, opacity 300ms ease, visibility 300ms ease;
		padding: 0 10px;
		height:49px;
		color:inherit;
		text-decoration:none!important;
		font-size:18px;
		white-space:nowrap;
		max-width:100%;
		margin:0;
	}
	
	.mpisto-gnav:not(.newnav) .mpisto-global-navigation .link span, .mpisto-gnav:not(.newnav) .mpisto-global-navigation .link .cpe-icon {
		height:inherit!important;
}


	.mpisto-global-navigation .link * {
		vertical-align:middle;
		transition: padding 300ms ease, width 300ms ease, height 300ms ease, opacity 300ms ease, visibility 300ms ease;
	}
	

	.mpisto-global-navigation .search-link {
		padding: 0 10px;
		height:49px;
		color:inherit;
		cursor:inherit;
		text-decoration:none!important;
		font-size:18px;
		white-space:nowrap;
		width:100%;
		transition:opacity 300ms ease, visibility 300ms ease;
	}

	.mpisto-global-navigation .link .cpe-icon {
		width:26px;
		height:26px;
	}

	.mpisto-global-navigation .link .cpe-icon.cpe-icon-small {
		width:20px;
		height:20px;
	}

	.mpisto-global-navigation .link .cpe-icon.cpe-icon-tiny {
		width:14px;
		height:14px;
	}

	.mpisto-global-navigation .cpe-dropdown__toggle-chevron:not(:only-child) {
		margin:0;
	}


	.mpisto-global-navigation .link big {
		font-size:120%;
		font-weight:lighter;
	}

	.mpisto-global-navigation .link small {
		font-size:80%;
		font-weight:bolder;
	}

	.mpisto-global-navigation .link small.name {
		max-width:80px;
		text-overflow:ellipsis;
		overflow:hidden;
		display:inline-block;
		margin-left:1px;
	}


	.mpisto-global-navigation .search-link .cpe-input {
		width:100%!important;
		color:inherit;
		min-width:auto!important;
	}

		#GlobalNavigation:not(.active-search) .search-link {
			pointer-events:none;
			opacity:0;
	}


.mpisto-global-navigation .search-link input:placeholder-shown {
  color:inherit;
  opacity:1;
}


.mpisto-global-navigation .search-link input::placeholder { /* Standard */
  color:inherit;
  opacity:1;
}

	.mpisto-global-navigation .cpe-dropdown {
		display:table-cell;
		vertical-align:top;
	}
	.mpisto-global-navigation .cpe-dropdown .link {
		vertical-align:middle;
	}
	.mpisto-global-navigation .link * {
		vertical-align:middle;
	}

	.mpisto-global-navigation .link .mpisto-avatar {
		width:26px;
		height:26px;
		min-width:26px;
		min-height:26px;
		border-width:1.5px;
		opacity:1;
		display:inline;
	}

	.mpisto-global-navigation .link:hover {
		color:var(--content-border);
	}

	.mpisto-global-navigation .link:active, .mpisto-global-navigation .link:focus, .mpisto-global-navigation .cpe-dropdown.cpe-is-active .link {
/*
		background-color:rgba(var(--community-header-text-rgb),0.25);
		border-color:rgba(var(--community-header-dark-rgb),0.5);
		color:rgba(var(--community-header-text-rgb), 0.75);
*/
	background-color:rgba(var(--link-color-dark-rgb), 0.25);
	color:var(--link-color);
	}


.mpisto-gnav.hidden {
	position:static
}

/* Refreshed Global Nav */
/*.newnav.mpisto-gnav {
	border-top:6px solid var(--content-border);
}


.newnav .mpisto-global-navigation, .newnav .mpisto-global-navigation .link, .newnav .mpisto-global-navigation .search-link {
	height:43px;
}
*/

.newnav .mpisto-global-navigation .tr {
	display:flex;
}

.newnav .mpisto-global-navigation .link {
/*	border-top:6px solid;
	margin-top:-6px;
*/
	display:inline-flex;
	align-items:center;
	justify-content:center;
}


.newnav .mpisto-global-navigation .search-link {
	width:auto!important;
	flex:1;
}


.newnav .mpisto-global-navigation .search-link {
	align-items:center;
	display:inline-flex;
	justify-content:center;
}

/*.newnav .mpisto-global-navigation .search-link .cpe-input {
	min-height:13px!important;
	padding-top:5px;
	padding-bottom:5px;
}
*/
.newnav .mpisto-global-navigation .link .name,  .newnav .mpisto-global-navigation .cpe-dropdown__toggle-chevron {
			margin-left:3px;
		}




		#GlobalNavigation:not(.active-search) .search-off {
			display:none!important;
		}

		#GlobalNavigation:not(.active-search) .search-link {
			visibility:hidden;
			pointer-events:none;
	}

		#GlobalNavigation.active-search .left-links > *:not(.search-on):not(.cpe-dropdown):not(.logotype),
		#GlobalNavigation.active-search .left-links > .cpe-dropdown .link  {
				font-size:0!important;
				padding:0!important;
				max-width:0!important;
				margin-left:0!Important;
				margin-right:0!Important;
				opacity:0!important;
				overflow:hidden;			
		}

		#GlobalNavigation.active-search .left-links > *:not(.search-on):not(.logotype) .cpe-icon
		#GlobalNavigation.active-search .left-links > *:not(.search-on):not(.logotype) img {
				font-size:0!important;
				padding:0!important;
				width:0!important;	
				height:0!important;
				max-width:0!important;
				margin:0;
				opacity:0!important;
		}

		#GlobalNavigation.active-search svg.search-on {
			display:none!Important;
		}

/** Responsive Global Nav **/
	@media only screen and (max-width:754px) {
		.mpisto-global-navigation .link .small-up {
			display:none!important;
		}


	.mpisto-global-navigation .cpe-dropdown__toggle-chevron {
		display:none;
	}

	.mpisto-global-navigation .cpe-input {
		padding-left:7.5px;
		padding-right:7.5px;
		width:100%!important;
		min-width:auto!important;
	}

	}

	@media only screen and (min-width:755px) {
		.mpisto-global-navigation svg.mob-only {
			display:none!important;
		}
	}

	@media only screen and (min-width:960px) {
		.mpisto-global-navigation .small-only {
			display:none!important;
		}
	}

	@media only screen and (max-width:959px) {
		.mpisto-global-navigation .med-up, .mpisto-global-navigation .name {
			display:none!important;
		}

	.mpisto-global-navigation .cpe-input {
		padding-left:10px;
		padding-right:10px;
	}


}

	@media only screen and (min-width:1100px) {
		.mpisto-global-navigation .med-down {
			display:none!important;
		}
		
	}


	@media only screen and (max-width:1099px) {
		.mpisto-global-navigation .large-up {
			display:none!important;
		}
		
	.mpisto-global-navigation .link .cpe-icon {
		width:24px;
		height:24px;
		
	}

	.mpisto-global-navigation .link .cpe-icon.cpe-icon-small {
		width:18px;
		height:18px;
	}


	.mpisto-global-navigation .link .cpe-icon.cpe-icon-tiny {
		width:12px;
		height:12px;


	}

	.mpisto-global-navigation .link .mpisto-avatar {
		width:24px;
		height:24px;
		min-width:24px;
		min-height:24px;
		border-width:1.25px;
	}

	.mpisto-global-navigation .link, .mpisto-global-navigation .cpe-input {
		font-size:15px;
	}

	.mpisto-global-navigation .cpe-input {
		padding-left:12px;
		padding-right:12px;
	}

	}
	
	@media only screen and (max-width:1379px) {
/*		#GlobalNavigation:not(.active-search) .search-off {
			display:none!important;
		}
		#GlobalNavigation.active-search .search-on {
			display:none!important;
		}
*/
		.mpisto-global-navigation .slarge-only {
			display:none!important;
		}
}


	@media only screen and (min-width:1380px) {
		.mpisto-global-navigation .large-down {
			display:none!important;
		}

		
	}

/* Notifications */
.notification.cpe-dropdown__content .cpe-list { 
	display:flex;
	flex-direction:column;
}

.notification.cpe-dropdown__content .cpe-list > li{ 
	width:100%;
}

.notification.cpe-dropdown__content .cpe-list > li:first-child, 
.notification.cpe-dropdown__content .cpe-list > li:first-child > a {
  border-radius:var(--border-radius) var(--border-radius) 0 0;
}

.notification.cpe-dropdown__content .cpe-list > li:not(:last-child):not(.empty) > a {
  display:table-cell;
  width:100%;
  padding:0 9px;
}




.notification.cpe-dropdown__content .cpe-list > li:not(:last-child):not(.empty) {
  display:table;
  position:relative;
  z-index:2;
  cursor:url("Windows/hand.cur"), pointer;
  text-decoration:none;
}

.notification.cpe-dropdown__content .cpe-list > li:not(:last-child) > a * {
  cursor:inherit;
}

.notification.cpe-dropdown__content .cpe-list > li.empty {
  padding:18px 18px 11px;
}

.notification.cpe-dropdown__content .cpe-list > li {
margin:0;
}

.notification.cpe-dropdown__content .cpe-list > li:not(:last-child):not(.empty) a:after {
  position:absolute;
  opacity:0.1;
  top:0;
  left:0;
  content:"";
  display:block;
  width:calc(100% + 0.5px);
  height:100%;
  transition:background-color .2s ease 0.01s;
  z-index:-1;
  border-radius:inherit;
}
.notification.cpe-dropdown__content .cpe-list > li:not(:last-child) a:hover {
text-decoration:none;
}

.notification.cpe-dropdown__content .cpe-list > li:not(:last-child):not(.empty) a:hover:after {
  background-color:var(--content-color);
}


.notification.cpe-dropdown__content {
padding:0;
}

.notification.cpe-dropdown__content .cpe-list > li:not(:last-child) a > .wrapper {
display:table;
}

.notification.cpe-dropdown__content .cpe-list > li:not(:last-child) a img {
  box-sizing:border-box;
  border:0;
  border-radius:50%;
  background-blend-mode:normal;
  width:28px;
  height:28px;
  opacity:1;
}

.notification.cpe-dropdown__content .cpe-list > li:not(:last-child) a > .wrapper div {
    display:table-cell;
    vertical-align:middle;
    padding-left:5px;
}

.notification.cpe-dropdown__content .cpe-list > li:not(:last-child) a div h3 {
  font-size:16px;
  font-weight:bolder;
  color:var(--content-color);
  text-decoration:none;
  margin:0;
  font-family:var(--secondary-font),cursive;
}

.notification.cpe-dropdown__content .cpe-list > li.new a div h3 {
  color:limegreen;
}

.notification.cpe-dropdown__content .cpe-list > li.reply a div h3 {
  color:orange;
}


.notification.cpe-dropdown__content .cpe-list > li.new.highlighted > a:before {
  position:absolute;
  top:0;
  left:0;
  content:"";
  display:block;
  width:calc(100% + 0.5px);
  height:calc(100% - 1px);
  transition:background-color .2s ease 0.01s;
  z-index:1;
  border-radius:inherit;
  outline:1px solid limegreen;
  outline-offset:-1px;
}

.notification.cpe-dropdown__content .cpe-list > li:not(:last-child) div h6 {
  font-size:11px;
  font-weight:lighter;
  display:block;
  margin:0;
  color:var(--content-color);
  line-height:0;
}

.notification.cpe-dropdown__content .cpe-list > li a div h6 time::before {
  content:" ~ "
}

.notification.cpe-dropdown__content .cpe-list > li + .empty {
display:none;
}

.notification.cpe-dropdown__content .cpe-list > li:last-child {
  text-align:center;
}

/* Ranges */
input[type="range"] {
  color: var(--content-color);
  margin: 0 auto;
  background-color: transparent;
  height: 30px;
  min-width: 150px;
  -webkit-appearance: none;
  cursor:inherit;
}
input[type="range"]::-webkit-slider-thumb {
  border-radius: 50%;
  background-color: var(--link-color);
  box-shadow: 0 0 0 8px rgba(var(--link-color-blend-light-rgb), 0.5);
  border: 0;
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  margin-top: -2px;
  /* Hack for Chrome and Safari */
  overflow: visible;
}
input[type="range"]::-moz-range-thumb {
  border-radius: 50%;
  background-color: var(--link-color);
  box-shadow: 0 0 0 8px rgba(var(--link-color-blend-light-rgb), 0.5);
  border: 0;
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  vertical-align: middle;
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 8px rgba(var(--link-color-blend), 0.6);
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 8px rgba(var(--link-color-blend), 0.6);
}
input[type="range"]::-webkit-slider-runnable-track {
  border: 0;
  padding: 0;
  background-color: var(--content-color);
  color: transparent;
  height: 4px;
  -webkit-appearance: none;
  vertical-align: middle;
}
input[type="range"]::-moz-range-track {
  border: 0;
  padding: 0;
  background-color: var(--content-color);
  color: transparent;
  height: 4px;
  -webkit-appearance: none;
  vertical-align: middle;
}
input[type="range"]::-webkit-slider-track {
  background-color: var(--link-color);
  border: 0;
  height: 4px;
}
input[type="range"]::-moz-range-progress {
  background-color: var(--link-color);
  border: 0;
  height: 4px;
}
input[type="range"]::-qq-slider-filler {
  background-color: var(--link-color);
  border: 0;
  height: 4px;
}


/* For Touch Devices or Phones */
.phone input[type="range"] {
  height: 35px;
  min-width: 150px;
  line-height:0;
}
.phone input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  margin-top: -4px;
  /* Hack for Chrome and Safari */
}
.phone input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
}
.phone input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
}
.phone input[type="range"]::-moz-range-track {
  height: 8px;
}
.phone input[type="range"]::-webkit-slider-track {
  height: 8px;
}
.phone input[type="range"]::-moz-range-progress {
  height: 8px;
}
.phone input[type="range"]::-qq-slider-filler {
  height: 8px;
}


.mpisto-content {
	margin:20px auto;
	box-shadow:0 2px 6px 0 rgba(0,0,0,.2), 0 2px 6px 0 rgba(255,255,255,0.2);
	padding:0;
	position:relative;
	z-index:2;
}

.mpisto-content .mpisto-wrapper {
   --content-space-opacity:0.9;
	background-color:rgba(var(--content-bg-rgb),var(--content-space-opacity));
	min-height:50px;
	padding:0 18px;
	border:1px solid var(--content-border);
}

	.mpisto-header-container {
		margin:-1px;
		color:var(--community-header-text);
		background-color:var(--community-header-bg);
		z-index:10;
		position:relative;
	}


	.mpisto-header-container .cpe-dropdown {
		display:table-cell;
	}


	.mpisto-header-container + .cpe-community-header {
		display:none!important;
	}

	.color-header {
		min-height:60px;
		position:relative;
		z-index:inherit;
	}
	
	.color-header .wordmark img {
		height:54px;
		margin:0 10px;
		vertical-align:middle;
	}


	.color-header .counters {
		height:60px;
		padding:0 16px;
		font-size:16px;
		font-weight:500;
		text-align:left;
	}

	
	.color-header .counter {
		white-space:nowrap;
	}

	.color-header .counter big {
		font-weight:bolder;
		font-size:120%;
	}
	

	.mpisto-header-container .link {
		-webkit-transition:color 200ms ease, background-color 150ms linear 100ms, border-color 150ms linear 100ms, background-image 150ms linear 100ms;
		-o-transition:color 200ms ease, background-color 150ms linear 100ms, border-color 150ms linear 100ms, background-image 150ms linear 100ms;
		transition:color 200ms ease, background-color 150ms linear 100ms, border-color 150ms linear 100ms, background-image 150ms linear 100ms;
		padding: 0 9px;
		height:inherit;
		color:inherit;
		text-decoration:none!important;
		font-size:18px;
		border:1px solid transparent;
		box-sizing:border-box;
		border-radius:var(--border-radius);
	}

	.color-header .link {
		padding: 0 11px;
		height:60px;
	}
	
	.color-header .cpe-dropdown {
		height:inherit;
		display:inline-block;
	}
	
	.color-nav .cpe-dropdown {
		height:30px;
	}

	.color-nav .link {
		width:100%;
		white-space:nowrap;
	}
	
	.mpisto-header-container .link:hover, .mpisto-header-container .cpe-dropdown.cpe-is-active .link, .mpisto-header-container .link.active {
		background-color:rgba(var(--community-header-text-rgb),0.25);
		border-color:rgba(var(--community-header-dark-rgb),0.5);
		color:var(--community-header-text-dark);
	}

	.mpisto-header-container .link:hover *:not([filter]), .mpisto-header-container .link.active *:not([filter]) {
		filter:drop-shadow(0 0 2px var(--community-header-dark));
	}

	.mpisto-header-container .link.active {		
	-webkit-animation: none;
		     -o-animation: none;
		        animation:none;    
		cursor:inherit;
		font-weight:bolder;
	}
	
	.color-header .title {
		width:100%;
		line-height:1.4;
		font-size:24px;
		font-weight:700;
		height:60px;
		padding:0 16px;
		font-family:var(--secondary-font), cursive;

		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}

	.color-header .title a {
		text-decoration:none;
		color:inherit;
		transition:opacity 400ms ease, color 400ms ease;
		overflow:hidden;
		text-overflow:ellipsis;
	}

	.color-header .title a:hover {
		color:var(--community-header-text-dark);
	}


	.mobile-header {
		display:none;
		justify-content:center;
		min-height:60px;
		flex-direction:column;
	}

	.mobile-header section {
		width:100%;
		display:flex;
		padding:5px 0 0 5px;
		justify-content:space-around;
		align-items:stretech;
	}

	.mobile-header .title {
		justify-content:center;
		line-height:1.4;
		font-size:24px;
		font-weight:800;
		font-family:var(--secondary-font), cursive;

	}

	.mobile-header .title a {
		text-decoration:none;
		color:inherit;
		transition:opacity 400ms ease, color 400ms ease;
		overflow:hidden;
		text-overflow:ellipsis;
	}

	.mobile-header .title a:hover {
		opacity:0.8;
	}


	.mobile-header .counters {
		font-size:16px;
		flex:1;
		flex-wrap:wrap;
	}

	.mobile-header .counter {
		white-space:nowrap;
		align-self:center;
	}

	.mobile-header .counter big {
		font-weight:bolder;
		font-size:120%;
	}


	.mobile-header .buttons {
		padding:0;
		display:block!important;
	}

	.mobile-header .buttons nav {
		flex:1;
		width:100%;
		display:flex;
	}

.mobile-header .buttons .link {
		flex:1;
		display:inline-flex;
		align-items:center;
		justify-content:center;
		padding: 0 8px;
		height:50px;
	}


/* Mobile Footer */
footer.footer {
width:100%;
min-height:50px;
/*border-top:2px solid #b0a1ee;
*/
color:var(--content-color);
background-color:var(--dropdown-bg);
position:relative;
z-index:50;
padding:0 18px;
display:none;
box-sizing:border-box;
font-family:"Source Sans Pro", var(--foreign-fonts), cursive;
}

footer.footer .wrapper {
/*border:1px solid #b0a1ee;
border-top-style:hidden;
border-bottom-style:hidden;
*/
width:100%;
max-width:926px;
border-spacing:0;
margin:0 auto;
color:inherit;
border-collapse:separate; /* Mac mInerva and QortaQorte uses border-collapse:collapse by default, leading to unexpected layout */
font-weight:400;
}

footer.footer .wrapper .footer-container {
min-height:30px;
}

footer.footer .wrapper .footer-container > * > th,
footer.footer .wrapper .footer-container > * > td {
/*border:1px solid #b0a1ee;
*/
box-sizing:border-box;
}

footer.footer .wrapper .footer-container th {
width:100%;
}

footer.footer .wrapper .footer-container th h1 {
font-weight:600;
font-size:36px;
display:inline;
vertical-align:middle;
margin-left:8px;
}

footer.footer .wrapper .footer-container th * {
vertical-align:middle;
}

footer.footer .wrapper .footer-container th.footer-bar h3 {
font-size:20px;
}

footer.footer .wrapper .footer-container th {
position:relative;
font-weight:inherit;
z-index:1;
}

footer.footer .wrapper .footer-container th:not(.footer-bar) {
  border-top:0;
  height:65px;
}

/*footer.footer .wrapper .footer-container th::after {
position:absolute;
top:0;
left:0;
height: 100%;
width: 100%;
z-index:-1;
content:"";
display:block;
background-color:#002200;
opacity:0.11;
}
*/

footer.footer .wrapper .footer-container td {
/*font-size:17px;
padding:4px 8px 8px;
*/
position:relative;
z-index:1;
font-weight:500;
text-align:left;
}


/*footer.footer .wrapper .footer-container td::after {
position:absolute;
top:0;
left:0;
height: 100%;
width: 100%;
z-index:-1;
content:"";
display:block;
background-color:#002200;
opacity:0.035;
}
*/

footer.footer .wrapper .footer-container td h2 {
	font-size:24px;
	font-weight:bolder;
	text-align:left;
	font-family:var(--secondary-font), cursive;
}

footer.footer .wrapper .footer-container td a {
/*
padding:6px 2px;
*/
display:block;
-o-transition:all 150ms ease 12ms;
transition:all 150ms ease 12ms;
text-decoration:none;
line-height:1.5;
-o-transition:all 500ms;
transition:all 500ms;
font-size:16px;
clear:both;
color:var(--content-border);
}

footer.footer .wrapper .footer-container td a:hover {
    color:var(--content-border-dark);
}


.main-footer {
position:relative;
background-color:var(--emphasis-bg);
border:1px solid var(--content-border);
width:-webkit-calc(100% + 50px);
width:calc(100% + 50px);
width:100%;
margin:-1px 0px 0px;
padding:10px;
		box-sizing:border-box;
letter-spacing:0.3px;
text-align:center;
clear:both;
}

.main-footer hr {
border:4px inset var(--button-color);
}

h1, h2, h3, h4, h5, h6 {
	margin:8px 0;
	font-weight:inherit;
	font-style:inherit;
}

.mpisto-page-header {
	padding:0 0 10px;
	border-bottom-color:var(--content-border);
/*	background-color:var(--button-color-blend); */
	margin:0 -19px 0;
	position:relative;
	z-index:9;
}

.mpisto-content .mpisto-page-header-title {
display:flex;
flex-wrap:wrap;
line-height:1.35;
margin:0px 0 8px;
padding:8px 19px;
align-items:center;
/*
	background-color:var(--button-color-blend-light);
	background-image:linear-gradient(to bottom, var(--button-color-blend-light) 35%, var(--button-color-blend) 70%);
*/
	background-color:var(--dropdown-bg);
/*	color:var(--button-color-text); */
}



.mpisto-page-header h1 {
	font-size:32px;
	font-weight:600;
	font-family:var(--secondary-font), cursive;
	flex:1;
	line-height:1;
-webkit-text-stroke:1.25px var(--content-color);
-webkit-text-fill-color:var(--dropdown-bg);
text-shadow:0 0 2px var(--content-color);

}

.pageheader-search {
font-size:0!important;
}

.constructor .pageheader-search {
	display:none!important;
}

.pageheader-search .cpe-input {
width:200px;
line-height:14px;
border-bottom-right-radius:0;
border-top-right-radius:0;
margin-right:3px;
}

.pageheader-search .cpe-button {
border-bottom-left-radius:0;
border-top-left-radius:0;
vertical-align:middle;
margin-left:3px;
line-height:16px;
}

.mpisto-page-header .pageheader-search .cpe-button {
  --button-color:var(--content-border);
  --button-color-dark:var(--content-border-dark);
  --button-color-dark-super:var(--content-border-dark-super);
  --button-color-text:var(--content-border-text);
  --button-color-content-bg-mix-light:var(--content-border-content-bg-mix-light);
  --button-color-content-bg-mix:var(--content-border-content-bg-mix);
}


.mpisto-page-header .buttons {
	display:flex;
	align-items:center;
	justify-content:space-around;
	flex-wrap:wrap;
	z-index:4;
	padding:0px 18px;
	position:relative;
}

.mpisto-page-header .buttons > * {
	margin:1px;
}


.mpisto-article-wrapper {
	display:flex;
	justify-content:space-between;
}

.mpisto-content .mpisto-article {
	flex:1;
	padding:8px 0 0;
}

.mpisto-content .mpisto-actions {
	display:flex;
	flex-direction:column;
	align-items:center;
	position:relative;
}

.mpisto-content .mpisto-actions .cpe-floating-button-group {
	padding:18px 18px 18px 8px;
	position:static;
	position:-webkit-sticky;
	position:sticky;
	top:49px;
}


.mpisto-article h1 {
	font-weight:300;
	font-size:28px;
}

.mpisto-article h2 {
	font-weight:500;
	font-size:20px;
	border-bottom:1px solid #cccddd;
	border-bottom-color:var(--content-border);
}

.mpisto-article h3 {
	font-weight:600;
	font-size:17px;
}

.mpisto-article h4 {
	font-weight:700;
	font-size:14px;
}

.mpisto-article h5 {
	font-weight:800;
	font-size:12px;
}

.mpisto-article h6 {
	font-weight:900;
	font-size:10px;
	font-variant:small-caps;
	letter-spacing:0.15px;
	word-spacing:0.15px;
}

/* Footer */
/* Footer */
footer.mpisto-footer {
/*
min-width:768px;
font-family:Arial Nova, sans-serif;
background-color:var(--dropdown-bg);
border-top:2px solid var(--content-border);
color:var(--content-color);
*/
width:100%;
min-height:50px;
background-color:var(--dropdown-bg);
margin:30px 0 0;
color:var(--content-color);
font-family:"Source Sans Pro", var(--foreign-fonts), cursive;
position:relative;
z-index:49;
padding:0 0 27px;
/*
box-shadow:0 0 9px var(--content-border), 0 0 2.5px #000, 0 0 1.5px #fff;*/
box-shadow: 0 0 3px var(--content-color), 0 0 3px var(--dropdown-bg);
}


/* Glass effect for browsers with backdrop filter, use opaque for others
footer.mpisto-footer {
background-color:transparent;
}

footer.mpisto-footer:after {
   
    background-color:var(--dropdown-bg);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    background-color:var(--dropdown-bg);
    opacity:0.9;
    top:0;
    left:0;
	-webkit-backdrop-filter:invert(1) hue-rotate(180deg) saturate(1.2) blur(6.5px);
	backdrop-filter:invert(1) hue-rotate(180deg) saturate(1.2) blur(6.5px);


   -webkit-backdrop-filter: saturate(350%) brightness(105%) sepia(40%) grayscale(40%) hue-rotate(6deg) blur(1.2px);
    backdrop-filter: saturate(350%) brightness(105%) sepia(40%) grayscale(40%) hue-rotate(6deg) blur(1.2px);

}
*/


footer.mpisto-footer .cpe-button {
	border-radius:8px;
	padding:8px 16px;
	font-size:12.5px;
}


footer.mpisto-footer .mpisto-wrapper {
/*
border-collapse:collapse;
border:1px solid var(--content-border);
border-top-style:hidden;
border-bottom-style:hidden;
*/
border-spacing:0;
color:inherit;
border-collapse:separate; /* Mac mInerva and QortaQorte uses border-collapse:collapse by default, leading to unexpected layout */
table-layout:fixed;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-overview {
min-height:30px;
display:inline-block;
width:260px;
vertical-align:middle;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container {
	width:calc(100% - 266px);
	display:inline-block;
	vertical-align:middle;
}



footer.mpisto-footer .mpisto-wrapper header {
width:100%;
text-align:left;
font-weight:500;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-bar h3 {
	text-align:center;
	font-size:20px;
}


footer.mpisto-footer .mpisto-wrapper nav {
text-align:left;
font-weight:500;
display:table-cell;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container nav {
	width:2%;
}


footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container .app-download div {
	display:table;
	width:100%;
}

footer.mpisto-footer .mpisto-wrapper .mpisto-footer-container .app-download span {
	display:table-cell;
}



footer.mpisto-footer .mpisto-wrapper  h2 {
	font-size:24px;
	font-weight:bolder;
	text-align:left;
  font-family:var(--secondary-font), cursive;
}

footer.mpisto-footer .mpisto-wrapper .overview {
	display:block;
}

footer.mpisto-footer .mpisto-wrapper .link {
  color:var(--content-border);
  font-size:16px;
	display:block;
  text-decoration:none;
  line-height:1.5;
  transition:all 500ms;

}

footer.mpisto-footer .mpisto-wrapper .link:hover {
  color:var(--content-border-dark);
}


footer.mpisto-footer .mpisto-wrapper .wordmark-container {
	display:block;
}



footer.mpisto-footer .mpisto-wrapper .wordmark {
	transition-property:filter,opacity;
	transition-delay:var(--wordmark-filter-delay,0),0;
	transition-duration:calc(var(--wordmark-filter-duration,300ms) * 1.67), 500ms;
	filter:var(--wordmark-filter,none);
	width:auto;
	height:auto;
	max-height:65px;
	opacity:1;
}

footer.mpisto-footer .mpisto-wrapper .wordmark img {
	width:inherit;
	max-height:inherit;
	height:inherit;
}

footer.mpisto-footer .mpisto-wrapper .wordmark:hover {
	filter:var(--wordmark-filter2,var(--wordmark-filter,none));
	opacity:0.8;
}


.mpisto-article-content {
	display:flex;
}

.mpisto-left-pane {
width:calc(-301px + 100%);
padding-bottom:8px;
}

.mpisto-right-pane {
width:300px;
padding:10px 18px;
margin:0 -18px 0 -18px;
box-shadow:-1px 0 0 0 var(--dropdown-bg);
background-color:var(--dropdown-bg);
}

.mpisto-right-pane .search-container {
	width:100%;
	display:flex;
	margin-bottom:10px;
}

.mpisto-right-pane .search-container .cpe-input {
	flex:1;
}

.mpisto-module {
background-color:var(--content-bg);
box-shadow:0 2px 2px var(--content-border), 0 0 6px -1px #000, 0 0 10px -0.5px #fff;
border:1px solid var(--content-border);
min-height:20px;
padding:0 8px;
margin:10px 0;
border-radius:10px;
}

.mpisto-module h2 {
border-bottom:1px solid var(--content-border);
background-color:var(--dropdown-bg);
padding:8px;
display:flex;
font-size:16px;
font-weight:600;
align-items:center;
margin:0 -8px 4px;
position:relative;
z-index:0;
border-top-left-radius:inherit;
border-top-right-radius:inherit;
transition:margin-bottom 200ms;
}

.mpisto-module h2 .module-toggle {
  color:inherit;
}

 .hidden-module.mpisto-module h2,  .hidden-module.mpisto-module h2:before,  .hidden-module.mpisto-module h2:after {
    margin-bottom:-1px;
    border-radius:inherit;
    border:0;
}

 .hidden-module.mpisto-module h2 .module-toggle .cpe-icon {
  transform:rotate(180deg);
}

.mpisto-module h2 span {
  flex:1;
}

.mpisto-module h2 .cpe-icon {
margin-right:8px;
}

.mpisto-module h2 .module-toggle .cpe-icon {
margin-right:0;
transition:transform 200ms;
}

.mpisto-module h2::after {
position:absolute;
top:0;
left:0;
height: 100%;
width: 100%;
z-index:-1;
content:"";
display:block;
background-color:var(--emphasis-bg);
opacity:0.2;
border-top-left-radius:inherit;
border-top-right-radius:inherit;
}

.mpisto-module h2::before {
position:absolute;
top:0;
left:0;
height: 100%;
width: 100%;
z-index:-1;
content:"";
display:block;
background-color:var(--content-border);
opacity:0.2;
border-top-left-radius:inherit;
border-top-right-radius:inherit;
}



.mpisto-module ul {
margin:4px 0 6px;
list-style-type:none;
padding:0;
transition-property:margin, padding, visibility, height;
transition-duration:200ms;
}



.mpisto-module ul > li {
font-weight:600;
font-size:14px;
text-align:left;
margin:0;
padding:2px 0;
border-bottom:1px solid #cccddd;
border-bottom-color:var(--content-border);
}

.mpisto-module ul > li:first-child {
padding-top:0;
}

.mpisto-module ul > li:last-child {
border-bottom:0;
}

.mpisto-module ul > li > span {
font-size:12px;
font-weight:lighter;
display:block;
}

.mpisto-module ul > li > span > time::before {
content: " ~ ";
}

.mpisto-module .buttons {
padding:8px;
margin:0 -8px;
display:flex;
flex-wrap:wrap;
justify-content:flex-end;
border-bottom-left-radius:inherit;
border-bottom-right-radius:inherit;
position:relative;
z-index:1;
background-color:var(--dropdown-bg);
transition-property:margin, padding, visibility, height;
transition-duration:200ms;
border-top:1px solid var(--content-border);
}


.mpisto-module .buttons * {
margin:2px;
}

.mpisto-module .buttons .cpe-button {
min-height:14px;
}



.mpisto-module .buttons::after {
position:absolute;
top:0;
left:0;
height: 100%;
width: 100%;
z-index:-1;
content:"";
display:block;
background-color:var(--content-border);
opacity:0.2;
border-bottom-left-radius:inherit;
border-bottom-right-radius:inherit;
}

.hidden-module.mpisto-module ul, .hidden-module.mpisto-module .buttons {
    margin: 0;
    height: 0px;
    visibility: hidden;
    padding:0;
    overflow:hidden;
 }

/* Flags */
.flags-dropdown button.cpe-is-full-width {
    margin:auto;
}

.flag-link {
  outline:1px dotted currentColor;
}

.flags-dropdown {
  padding:3.5px 0;
}

